//! **************************************************************************
// Written by: Map P.20131013 on Mon May 23 08:24:25 2016
//! **************************************************************************

SCHEMATIC START;
COMP "reset" LOCATE = SITE "C12" LEVEL 1;
COMP "sck" LOCATE = SITE "D17" LEVEL 1;
COMP "RX" LOCATE = SITE "C4" LEVEL 1;
COMP "VGA_green<3>" LOCATE = SITE "A6" LEVEL 1;
COMP "VGA_green<1>" LOCATE = SITE "A5" LEVEL 1;
COMP "VGA_green<2>" LOCATE = SITE "B6" LEVEL 1;
COMP "VGA_green<0>" LOCATE = SITE "C6" LEVEL 1;
COMP "lrck" LOCATE = SITE "F14" LEVEL 1;
COMP "clock" LOCATE = SITE "E3" LEVEL 1;
COMP "data" LOCATE = SITE "E17" LEVEL 1;
COMP "VGA_blue<2>" LOCATE = SITE "D7" LEVEL 1;
COMP "VGA_blue<1>" LOCATE = SITE "C7" LEVEL 1;
COMP "VGA_blue<3>" LOCATE = SITE "D8" LEVEL 1;
COMP "VGA_blue<0>" LOCATE = SITE "B7" LEVEL 1;
COMP "VGA_hs" LOCATE = SITE "B11" LEVEL 1;
COMP "B_up" LOCATE = SITE "F15" LEVEL 1;
COMP "VGA_vs" LOCATE = SITE "B12" LEVEL 1;
COMP "VGA_red<3>" LOCATE = SITE "A4" LEVEL 1;
COMP "VGA_red<2>" LOCATE = SITE "C5" LEVEL 1;
COMP "VGA_red<1>" LOCATE = SITE "B4" LEVEL 1;
COMP "VGA_red<0>" LOCATE = SITE "A3" LEVEL 1;
COMP "B_center" LOCATE = SITE "E16" LEVEL 1;
COMP "switch<1>" LOCATE = SITE "U8" LEVEL 1;
COMP "Sortie" LOCATE = SITE "A11" LEVEL 1;
COMP "switch<0>" LOCATE = SITE "U9" LEVEL 1;
COMP "ampSD" LOCATE = SITE "D12" LEVEL 1;
COMP "B_left" LOCATE = SITE "T16" LEVEL 1;
COMP "B_down" LOCATE = SITE "V10" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "T8" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "V9" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "R8" LEVEL 1;
COMP "mck" LOCATE = SITE "B13" LEVEL 1;
COMP "B_right" LOCATE = SITE "R10" LEVEL 1;
PIN Bass/blk00000003/blk00000006_pins<117> = BEL
        "Bass/blk00000003/blk00000006" PINNAME CLK;
PIN Treble/blk00000003/blk00000006_pins<117> = BEL
        "Treble/blk00000003/blk00000006" PINNAME CLK;
PIN VGAzing/buff/Mram_RAM_pins<32> = BEL "VGAzing/buff/Mram_RAM" PINNAME
        CLKARDCLK;
PIN VGAzing/buff2/Mram_RAM_pins<32> = BEL "VGAzing/buff2/Mram_RAM" PINNAME
        CLKARDCLK;
PIN Treble/blk00000003/blk00000070/blk00000073_pins<32> = BEL
        "Treble/blk00000003/blk00000070/blk00000073" PINNAME CLKARDCLK;
PIN Treble/blk00000003/blk00000070/blk00000073_pins<33> = BEL
        "Treble/blk00000003/blk00000070/blk00000073" PINNAME CLKBWRCLK;
PIN Treble/blk00000003/blk00000074/blk00000076_pins<32> = BEL
        "Treble/blk00000003/blk00000074/blk00000076" PINNAME CLKARDCLK;
PIN Temp/Mram_RAM1_pins<65> = BEL "Temp/Mram_RAM1" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM1_pins<64> = BEL "Temp/Mram_RAM1" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM1_pins<67> = BEL "Temp/Mram_RAM1" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM1_pins<66> = BEL "Temp/Mram_RAM1" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM10_pins<65> = BEL "Temp/Mram_RAM10" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM10_pins<64> = BEL "Temp/Mram_RAM10" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM10_pins<67> = BEL "Temp/Mram_RAM10" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM10_pins<66> = BEL "Temp/Mram_RAM10" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM101_pins<65> = BEL "Temp/Mram_RAM101" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM101_pins<64> = BEL "Temp/Mram_RAM101" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM101_pins<67> = BEL "Temp/Mram_RAM101" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM101_pins<66> = BEL "Temp/Mram_RAM101" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM11_pins<65> = BEL "Temp/Mram_RAM11" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM11_pins<64> = BEL "Temp/Mram_RAM11" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM11_pins<67> = BEL "Temp/Mram_RAM11" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM11_pins<66> = BEL "Temp/Mram_RAM11" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM110_pins<65> = BEL "Temp/Mram_RAM110" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM110_pins<64> = BEL "Temp/Mram_RAM110" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM110_pins<67> = BEL "Temp/Mram_RAM110" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM110_pins<66> = BEL "Temp/Mram_RAM110" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM111_pins<65> = BEL "Temp/Mram_RAM111" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM111_pins<64> = BEL "Temp/Mram_RAM111" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM111_pins<67> = BEL "Temp/Mram_RAM111" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM111_pins<66> = BEL "Temp/Mram_RAM111" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM12_pins<65> = BEL "Temp/Mram_RAM12" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM12_pins<64> = BEL "Temp/Mram_RAM12" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM12_pins<67> = BEL "Temp/Mram_RAM12" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM12_pins<66> = BEL "Temp/Mram_RAM12" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM121_pins<65> = BEL "Temp/Mram_RAM121" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM121_pins<64> = BEL "Temp/Mram_RAM121" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM121_pins<67> = BEL "Temp/Mram_RAM121" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM121_pins<66> = BEL "Temp/Mram_RAM121" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM13_pins<65> = BEL "Temp/Mram_RAM13" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM13_pins<64> = BEL "Temp/Mram_RAM13" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM13_pins<67> = BEL "Temp/Mram_RAM13" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM13_pins<66> = BEL "Temp/Mram_RAM13" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM131_pins<65> = BEL "Temp/Mram_RAM131" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM131_pins<64> = BEL "Temp/Mram_RAM131" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM131_pins<67> = BEL "Temp/Mram_RAM131" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM131_pins<66> = BEL "Temp/Mram_RAM131" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM14_pins<65> = BEL "Temp/Mram_RAM14" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM14_pins<64> = BEL "Temp/Mram_RAM14" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM14_pins<67> = BEL "Temp/Mram_RAM14" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM14_pins<66> = BEL "Temp/Mram_RAM14" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM141_pins<65> = BEL "Temp/Mram_RAM141" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM141_pins<64> = BEL "Temp/Mram_RAM141" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM141_pins<67> = BEL "Temp/Mram_RAM141" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM141_pins<66> = BEL "Temp/Mram_RAM141" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM15_pins<65> = BEL "Temp/Mram_RAM15" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM15_pins<64> = BEL "Temp/Mram_RAM15" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM15_pins<67> = BEL "Temp/Mram_RAM15" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM15_pins<66> = BEL "Temp/Mram_RAM15" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM151_pins<65> = BEL "Temp/Mram_RAM151" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM151_pins<64> = BEL "Temp/Mram_RAM151" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM151_pins<67> = BEL "Temp/Mram_RAM151" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM151_pins<66> = BEL "Temp/Mram_RAM151" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM16_pins<65> = BEL "Temp/Mram_RAM16" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM16_pins<64> = BEL "Temp/Mram_RAM16" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM16_pins<67> = BEL "Temp/Mram_RAM16" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM16_pins<66> = BEL "Temp/Mram_RAM16" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM161_pins<65> = BEL "Temp/Mram_RAM161" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM161_pins<64> = BEL "Temp/Mram_RAM161" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM161_pins<67> = BEL "Temp/Mram_RAM161" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM161_pins<66> = BEL "Temp/Mram_RAM161" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM17_pins<65> = BEL "Temp/Mram_RAM17" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM17_pins<64> = BEL "Temp/Mram_RAM17" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM17_pins<67> = BEL "Temp/Mram_RAM17" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM17_pins<66> = BEL "Temp/Mram_RAM17" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM171_pins<65> = BEL "Temp/Mram_RAM171" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM171_pins<64> = BEL "Temp/Mram_RAM171" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM171_pins<67> = BEL "Temp/Mram_RAM171" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM171_pins<66> = BEL "Temp/Mram_RAM171" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM18_pins<65> = BEL "Temp/Mram_RAM18" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM18_pins<64> = BEL "Temp/Mram_RAM18" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM18_pins<67> = BEL "Temp/Mram_RAM18" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM18_pins<66> = BEL "Temp/Mram_RAM18" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM181_pins<65> = BEL "Temp/Mram_RAM181" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM181_pins<64> = BEL "Temp/Mram_RAM181" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM181_pins<67> = BEL "Temp/Mram_RAM181" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM181_pins<66> = BEL "Temp/Mram_RAM181" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM19_pins<65> = BEL "Temp/Mram_RAM19" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM19_pins<64> = BEL "Temp/Mram_RAM19" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM19_pins<67> = BEL "Temp/Mram_RAM19" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM19_pins<66> = BEL "Temp/Mram_RAM19" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM191_pins<65> = BEL "Temp/Mram_RAM191" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM191_pins<64> = BEL "Temp/Mram_RAM191" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM191_pins<67> = BEL "Temp/Mram_RAM191" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM191_pins<66> = BEL "Temp/Mram_RAM191" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM2_pins<65> = BEL "Temp/Mram_RAM2" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM2_pins<64> = BEL "Temp/Mram_RAM2" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM2_pins<67> = BEL "Temp/Mram_RAM2" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM2_pins<66> = BEL "Temp/Mram_RAM2" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM20_pins<65> = BEL "Temp/Mram_RAM20" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM20_pins<64> = BEL "Temp/Mram_RAM20" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM20_pins<67> = BEL "Temp/Mram_RAM20" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM20_pins<66> = BEL "Temp/Mram_RAM20" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM201_pins<65> = BEL "Temp/Mram_RAM201" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM201_pins<64> = BEL "Temp/Mram_RAM201" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM201_pins<67> = BEL "Temp/Mram_RAM201" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM201_pins<66> = BEL "Temp/Mram_RAM201" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM21_pins<65> = BEL "Temp/Mram_RAM21" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM21_pins<64> = BEL "Temp/Mram_RAM21" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM21_pins<67> = BEL "Temp/Mram_RAM21" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM21_pins<66> = BEL "Temp/Mram_RAM21" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM210_pins<65> = BEL "Temp/Mram_RAM210" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM210_pins<64> = BEL "Temp/Mram_RAM210" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM210_pins<67> = BEL "Temp/Mram_RAM210" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM210_pins<66> = BEL "Temp/Mram_RAM210" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM211_pins<65> = BEL "Temp/Mram_RAM211" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM211_pins<64> = BEL "Temp/Mram_RAM211" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM211_pins<67> = BEL "Temp/Mram_RAM211" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM211_pins<66> = BEL "Temp/Mram_RAM211" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM22_pins<65> = BEL "Temp/Mram_RAM22" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM22_pins<64> = BEL "Temp/Mram_RAM22" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM22_pins<67> = BEL "Temp/Mram_RAM22" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM22_pins<66> = BEL "Temp/Mram_RAM22" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM221_pins<65> = BEL "Temp/Mram_RAM221" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM221_pins<64> = BEL "Temp/Mram_RAM221" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM221_pins<67> = BEL "Temp/Mram_RAM221" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM221_pins<66> = BEL "Temp/Mram_RAM221" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM23_pins<65> = BEL "Temp/Mram_RAM23" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM23_pins<64> = BEL "Temp/Mram_RAM23" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM23_pins<67> = BEL "Temp/Mram_RAM23" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM23_pins<66> = BEL "Temp/Mram_RAM23" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM231_pins<65> = BEL "Temp/Mram_RAM231" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM231_pins<64> = BEL "Temp/Mram_RAM231" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM231_pins<67> = BEL "Temp/Mram_RAM231" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM231_pins<66> = BEL "Temp/Mram_RAM231" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM24_pins<65> = BEL "Temp/Mram_RAM24" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM24_pins<64> = BEL "Temp/Mram_RAM24" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM24_pins<67> = BEL "Temp/Mram_RAM24" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM24_pins<66> = BEL "Temp/Mram_RAM24" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM241_pins<65> = BEL "Temp/Mram_RAM241" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM241_pins<64> = BEL "Temp/Mram_RAM241" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM241_pins<67> = BEL "Temp/Mram_RAM241" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM241_pins<66> = BEL "Temp/Mram_RAM241" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM25_pins<65> = BEL "Temp/Mram_RAM25" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM25_pins<64> = BEL "Temp/Mram_RAM25" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM25_pins<67> = BEL "Temp/Mram_RAM25" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM25_pins<66> = BEL "Temp/Mram_RAM25" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM251_pins<65> = BEL "Temp/Mram_RAM251" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM251_pins<64> = BEL "Temp/Mram_RAM251" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM251_pins<67> = BEL "Temp/Mram_RAM251" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM251_pins<66> = BEL "Temp/Mram_RAM251" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM26_pins<65> = BEL "Temp/Mram_RAM26" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM26_pins<64> = BEL "Temp/Mram_RAM26" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM26_pins<67> = BEL "Temp/Mram_RAM26" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM26_pins<66> = BEL "Temp/Mram_RAM26" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM261_pins<65> = BEL "Temp/Mram_RAM261" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM261_pins<64> = BEL "Temp/Mram_RAM261" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM261_pins<67> = BEL "Temp/Mram_RAM261" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM261_pins<66> = BEL "Temp/Mram_RAM261" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM27_pins<65> = BEL "Temp/Mram_RAM27" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM27_pins<64> = BEL "Temp/Mram_RAM27" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM27_pins<67> = BEL "Temp/Mram_RAM27" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM27_pins<66> = BEL "Temp/Mram_RAM27" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM271_pins<65> = BEL "Temp/Mram_RAM271" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM271_pins<64> = BEL "Temp/Mram_RAM271" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM271_pins<67> = BEL "Temp/Mram_RAM271" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM271_pins<66> = BEL "Temp/Mram_RAM271" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM28_pins<65> = BEL "Temp/Mram_RAM28" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM28_pins<64> = BEL "Temp/Mram_RAM28" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM28_pins<67> = BEL "Temp/Mram_RAM28" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM28_pins<66> = BEL "Temp/Mram_RAM28" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM281_pins<65> = BEL "Temp/Mram_RAM281" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM281_pins<64> = BEL "Temp/Mram_RAM281" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM281_pins<67> = BEL "Temp/Mram_RAM281" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM281_pins<66> = BEL "Temp/Mram_RAM281" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM29_pins<65> = BEL "Temp/Mram_RAM29" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM29_pins<64> = BEL "Temp/Mram_RAM29" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM29_pins<67> = BEL "Temp/Mram_RAM29" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM29_pins<66> = BEL "Temp/Mram_RAM29" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM291_pins<65> = BEL "Temp/Mram_RAM291" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM291_pins<64> = BEL "Temp/Mram_RAM291" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM291_pins<67> = BEL "Temp/Mram_RAM291" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM291_pins<66> = BEL "Temp/Mram_RAM291" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM3_pins<65> = BEL "Temp/Mram_RAM3" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM3_pins<64> = BEL "Temp/Mram_RAM3" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM3_pins<67> = BEL "Temp/Mram_RAM3" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM3_pins<66> = BEL "Temp/Mram_RAM3" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM30_pins<65> = BEL "Temp/Mram_RAM30" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM30_pins<64> = BEL "Temp/Mram_RAM30" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM30_pins<67> = BEL "Temp/Mram_RAM30" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM30_pins<66> = BEL "Temp/Mram_RAM30" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM301_pins<65> = BEL "Temp/Mram_RAM301" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM301_pins<64> = BEL "Temp/Mram_RAM301" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM301_pins<67> = BEL "Temp/Mram_RAM301" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM301_pins<66> = BEL "Temp/Mram_RAM301" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM31_pins<65> = BEL "Temp/Mram_RAM31" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM31_pins<64> = BEL "Temp/Mram_RAM31" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM31_pins<67> = BEL "Temp/Mram_RAM31" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM31_pins<66> = BEL "Temp/Mram_RAM31" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM310_pins<65> = BEL "Temp/Mram_RAM310" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM310_pins<64> = BEL "Temp/Mram_RAM310" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM310_pins<67> = BEL "Temp/Mram_RAM310" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM310_pins<66> = BEL "Temp/Mram_RAM310" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM311_pins<65> = BEL "Temp/Mram_RAM311" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM311_pins<64> = BEL "Temp/Mram_RAM311" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM311_pins<67> = BEL "Temp/Mram_RAM311" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM311_pins<66> = BEL "Temp/Mram_RAM311" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM32_pins<65> = BEL "Temp/Mram_RAM32" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM32_pins<64> = BEL "Temp/Mram_RAM32" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM32_pins<67> = BEL "Temp/Mram_RAM32" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM32_pins<66> = BEL "Temp/Mram_RAM32" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM321_pins<65> = BEL "Temp/Mram_RAM321" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM321_pins<64> = BEL "Temp/Mram_RAM321" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM321_pins<67> = BEL "Temp/Mram_RAM321" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM321_pins<66> = BEL "Temp/Mram_RAM321" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM33_pins<65> = BEL "Temp/Mram_RAM33" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM33_pins<64> = BEL "Temp/Mram_RAM33" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM33_pins<67> = BEL "Temp/Mram_RAM33" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM33_pins<66> = BEL "Temp/Mram_RAM33" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM331_pins<65> = BEL "Temp/Mram_RAM331" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM331_pins<64> = BEL "Temp/Mram_RAM331" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM331_pins<67> = BEL "Temp/Mram_RAM331" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM331_pins<66> = BEL "Temp/Mram_RAM331" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM34_pins<65> = BEL "Temp/Mram_RAM34" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM34_pins<64> = BEL "Temp/Mram_RAM34" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM34_pins<67> = BEL "Temp/Mram_RAM34" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM34_pins<66> = BEL "Temp/Mram_RAM34" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM341_pins<65> = BEL "Temp/Mram_RAM341" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM341_pins<64> = BEL "Temp/Mram_RAM341" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM341_pins<67> = BEL "Temp/Mram_RAM341" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM341_pins<66> = BEL "Temp/Mram_RAM341" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM35_pins<65> = BEL "Temp/Mram_RAM35" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM35_pins<64> = BEL "Temp/Mram_RAM35" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM35_pins<67> = BEL "Temp/Mram_RAM35" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM35_pins<66> = BEL "Temp/Mram_RAM35" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM351_pins<65> = BEL "Temp/Mram_RAM351" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM351_pins<64> = BEL "Temp/Mram_RAM351" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM351_pins<67> = BEL "Temp/Mram_RAM351" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM351_pins<66> = BEL "Temp/Mram_RAM351" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM36_pins<65> = BEL "Temp/Mram_RAM36" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM36_pins<64> = BEL "Temp/Mram_RAM36" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM36_pins<67> = BEL "Temp/Mram_RAM36" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM36_pins<66> = BEL "Temp/Mram_RAM36" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM361_pins<65> = BEL "Temp/Mram_RAM361" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM361_pins<64> = BEL "Temp/Mram_RAM361" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM361_pins<67> = BEL "Temp/Mram_RAM361" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM361_pins<66> = BEL "Temp/Mram_RAM361" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM37_pins<65> = BEL "Temp/Mram_RAM37" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM37_pins<64> = BEL "Temp/Mram_RAM37" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM37_pins<67> = BEL "Temp/Mram_RAM37" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM37_pins<66> = BEL "Temp/Mram_RAM37" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM371_pins<65> = BEL "Temp/Mram_RAM371" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM371_pins<64> = BEL "Temp/Mram_RAM371" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM371_pins<67> = BEL "Temp/Mram_RAM371" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM371_pins<66> = BEL "Temp/Mram_RAM371" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM38_pins<65> = BEL "Temp/Mram_RAM38" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM38_pins<64> = BEL "Temp/Mram_RAM38" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM38_pins<67> = BEL "Temp/Mram_RAM38" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM38_pins<66> = BEL "Temp/Mram_RAM38" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM381_pins<65> = BEL "Temp/Mram_RAM381" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM381_pins<64> = BEL "Temp/Mram_RAM381" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM381_pins<67> = BEL "Temp/Mram_RAM381" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM381_pins<66> = BEL "Temp/Mram_RAM381" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM39_pins<65> = BEL "Temp/Mram_RAM39" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM39_pins<64> = BEL "Temp/Mram_RAM39" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM39_pins<67> = BEL "Temp/Mram_RAM39" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM39_pins<66> = BEL "Temp/Mram_RAM39" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM391_pins<65> = BEL "Temp/Mram_RAM391" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM391_pins<64> = BEL "Temp/Mram_RAM391" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM391_pins<67> = BEL "Temp/Mram_RAM391" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM391_pins<66> = BEL "Temp/Mram_RAM391" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM4_pins<65> = BEL "Temp/Mram_RAM4" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM4_pins<64> = BEL "Temp/Mram_RAM4" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM4_pins<67> = BEL "Temp/Mram_RAM4" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM4_pins<66> = BEL "Temp/Mram_RAM4" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM40_pins<65> = BEL "Temp/Mram_RAM40" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM40_pins<64> = BEL "Temp/Mram_RAM40" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM40_pins<67> = BEL "Temp/Mram_RAM40" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM40_pins<66> = BEL "Temp/Mram_RAM40" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM401_pins<65> = BEL "Temp/Mram_RAM401" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM401_pins<64> = BEL "Temp/Mram_RAM401" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM401_pins<67> = BEL "Temp/Mram_RAM401" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM401_pins<66> = BEL "Temp/Mram_RAM401" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM41_pins<65> = BEL "Temp/Mram_RAM41" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM41_pins<64> = BEL "Temp/Mram_RAM41" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM41_pins<67> = BEL "Temp/Mram_RAM41" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM41_pins<66> = BEL "Temp/Mram_RAM41" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM410_pins<65> = BEL "Temp/Mram_RAM410" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM410_pins<64> = BEL "Temp/Mram_RAM410" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM410_pins<67> = BEL "Temp/Mram_RAM410" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM410_pins<66> = BEL "Temp/Mram_RAM410" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM411_pins<65> = BEL "Temp/Mram_RAM411" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM411_pins<64> = BEL "Temp/Mram_RAM411" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM411_pins<67> = BEL "Temp/Mram_RAM411" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM411_pins<66> = BEL "Temp/Mram_RAM411" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM42_pins<65> = BEL "Temp/Mram_RAM42" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM42_pins<64> = BEL "Temp/Mram_RAM42" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM42_pins<67> = BEL "Temp/Mram_RAM42" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM42_pins<66> = BEL "Temp/Mram_RAM42" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM421_pins<65> = BEL "Temp/Mram_RAM421" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM421_pins<64> = BEL "Temp/Mram_RAM421" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM421_pins<67> = BEL "Temp/Mram_RAM421" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM421_pins<66> = BEL "Temp/Mram_RAM421" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM43_pins<65> = BEL "Temp/Mram_RAM43" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM43_pins<64> = BEL "Temp/Mram_RAM43" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM43_pins<67> = BEL "Temp/Mram_RAM43" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM43_pins<66> = BEL "Temp/Mram_RAM43" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM431_pins<65> = BEL "Temp/Mram_RAM431" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM431_pins<64> = BEL "Temp/Mram_RAM431" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM431_pins<67> = BEL "Temp/Mram_RAM431" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM431_pins<66> = BEL "Temp/Mram_RAM431" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM44_pins<65> = BEL "Temp/Mram_RAM44" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM44_pins<64> = BEL "Temp/Mram_RAM44" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM44_pins<67> = BEL "Temp/Mram_RAM44" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM44_pins<66> = BEL "Temp/Mram_RAM44" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM441_pins<65> = BEL "Temp/Mram_RAM441" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM441_pins<64> = BEL "Temp/Mram_RAM441" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM441_pins<67> = BEL "Temp/Mram_RAM441" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM441_pins<66> = BEL "Temp/Mram_RAM441" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM45_pins<65> = BEL "Temp/Mram_RAM45" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM45_pins<64> = BEL "Temp/Mram_RAM45" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM45_pins<67> = BEL "Temp/Mram_RAM45" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM45_pins<66> = BEL "Temp/Mram_RAM45" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM451_pins<65> = BEL "Temp/Mram_RAM451" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM451_pins<64> = BEL "Temp/Mram_RAM451" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM451_pins<67> = BEL "Temp/Mram_RAM451" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM451_pins<66> = BEL "Temp/Mram_RAM451" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM46_pins<65> = BEL "Temp/Mram_RAM46" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM46_pins<64> = BEL "Temp/Mram_RAM46" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM46_pins<67> = BEL "Temp/Mram_RAM46" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM46_pins<66> = BEL "Temp/Mram_RAM46" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM461_pins<65> = BEL "Temp/Mram_RAM461" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM461_pins<64> = BEL "Temp/Mram_RAM461" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM461_pins<67> = BEL "Temp/Mram_RAM461" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM461_pins<66> = BEL "Temp/Mram_RAM461" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM47_pins<65> = BEL "Temp/Mram_RAM47" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM47_pins<64> = BEL "Temp/Mram_RAM47" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM47_pins<67> = BEL "Temp/Mram_RAM47" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM47_pins<66> = BEL "Temp/Mram_RAM47" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM471_pins<65> = BEL "Temp/Mram_RAM471" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM471_pins<64> = BEL "Temp/Mram_RAM471" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM471_pins<67> = BEL "Temp/Mram_RAM471" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM471_pins<66> = BEL "Temp/Mram_RAM471" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM48_pins<65> = BEL "Temp/Mram_RAM48" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM48_pins<64> = BEL "Temp/Mram_RAM48" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM48_pins<67> = BEL "Temp/Mram_RAM48" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM48_pins<66> = BEL "Temp/Mram_RAM48" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM481_pins<65> = BEL "Temp/Mram_RAM481" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM481_pins<64> = BEL "Temp/Mram_RAM481" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM481_pins<67> = BEL "Temp/Mram_RAM481" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM481_pins<66> = BEL "Temp/Mram_RAM481" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM49_pins<63> = BEL "Temp/Mram_RAM49" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM49_pins<62> = BEL "Temp/Mram_RAM49" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM49_pins<65> = BEL "Temp/Mram_RAM49" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM49_pins<64> = BEL "Temp/Mram_RAM49" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM5_pins<65> = BEL "Temp/Mram_RAM5" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM5_pins<64> = BEL "Temp/Mram_RAM5" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM5_pins<67> = BEL "Temp/Mram_RAM5" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM5_pins<66> = BEL "Temp/Mram_RAM5" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM50_pins<63> = BEL "Temp/Mram_RAM50" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM50_pins<62> = BEL "Temp/Mram_RAM50" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM50_pins<65> = BEL "Temp/Mram_RAM50" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM50_pins<64> = BEL "Temp/Mram_RAM50" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM51_pins<63> = BEL "Temp/Mram_RAM51" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM51_pins<62> = BEL "Temp/Mram_RAM51" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM51_pins<65> = BEL "Temp/Mram_RAM51" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM51_pins<64> = BEL "Temp/Mram_RAM51" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM510_pins<65> = BEL "Temp/Mram_RAM510" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM510_pins<64> = BEL "Temp/Mram_RAM510" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM510_pins<67> = BEL "Temp/Mram_RAM510" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM510_pins<66> = BEL "Temp/Mram_RAM510" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM52_pins<63> = BEL "Temp/Mram_RAM52" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM52_pins<62> = BEL "Temp/Mram_RAM52" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM52_pins<65> = BEL "Temp/Mram_RAM52" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM52_pins<64> = BEL "Temp/Mram_RAM52" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM53_pins<63> = BEL "Temp/Mram_RAM53" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM53_pins<62> = BEL "Temp/Mram_RAM53" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM53_pins<65> = BEL "Temp/Mram_RAM53" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM53_pins<64> = BEL "Temp/Mram_RAM53" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM54_pins<63> = BEL "Temp/Mram_RAM54" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM54_pins<62> = BEL "Temp/Mram_RAM54" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM54_pins<65> = BEL "Temp/Mram_RAM54" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM54_pins<64> = BEL "Temp/Mram_RAM54" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM55_pins<63> = BEL "Temp/Mram_RAM55" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM55_pins<62> = BEL "Temp/Mram_RAM55" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM55_pins<65> = BEL "Temp/Mram_RAM55" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM55_pins<64> = BEL "Temp/Mram_RAM55" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM56_pins<63> = BEL "Temp/Mram_RAM56" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM56_pins<62> = BEL "Temp/Mram_RAM56" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM56_pins<65> = BEL "Temp/Mram_RAM56" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM56_pins<64> = BEL "Temp/Mram_RAM56" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM57_pins<63> = BEL "Temp/Mram_RAM57" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM57_pins<62> = BEL "Temp/Mram_RAM57" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM57_pins<65> = BEL "Temp/Mram_RAM57" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM57_pins<64> = BEL "Temp/Mram_RAM57" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM58_pins<63> = BEL "Temp/Mram_RAM58" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM58_pins<62> = BEL "Temp/Mram_RAM58" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM58_pins<65> = BEL "Temp/Mram_RAM58" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM58_pins<64> = BEL "Temp/Mram_RAM58" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM59_pins<63> = BEL "Temp/Mram_RAM59" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM59_pins<62> = BEL "Temp/Mram_RAM59" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM59_pins<65> = BEL "Temp/Mram_RAM59" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM59_pins<64> = BEL "Temp/Mram_RAM59" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM6_pins<65> = BEL "Temp/Mram_RAM6" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM6_pins<64> = BEL "Temp/Mram_RAM6" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM6_pins<67> = BEL "Temp/Mram_RAM6" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM6_pins<66> = BEL "Temp/Mram_RAM6" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM60_pins<63> = BEL "Temp/Mram_RAM60" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM60_pins<62> = BEL "Temp/Mram_RAM60" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM60_pins<65> = BEL "Temp/Mram_RAM60" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM60_pins<64> = BEL "Temp/Mram_RAM60" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM61_pins<63> = BEL "Temp/Mram_RAM61" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM61_pins<62> = BEL "Temp/Mram_RAM61" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM61_pins<65> = BEL "Temp/Mram_RAM61" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM61_pins<64> = BEL "Temp/Mram_RAM61" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM62_pins<63> = BEL "Temp/Mram_RAM62" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM62_pins<62> = BEL "Temp/Mram_RAM62" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM62_pins<65> = BEL "Temp/Mram_RAM62" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM62_pins<64> = BEL "Temp/Mram_RAM62" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM63_pins<63> = BEL "Temp/Mram_RAM63" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM63_pins<62> = BEL "Temp/Mram_RAM63" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM63_pins<65> = BEL "Temp/Mram_RAM63" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM63_pins<64> = BEL "Temp/Mram_RAM63" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM64_pins<63> = BEL "Temp/Mram_RAM64" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM64_pins<62> = BEL "Temp/Mram_RAM64" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM64_pins<65> = BEL "Temp/Mram_RAM64" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM64_pins<64> = BEL "Temp/Mram_RAM64" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM65_pins<65> = BEL "Temp/Mram_RAM65" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM65_pins<64> = BEL "Temp/Mram_RAM65" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM65_pins<67> = BEL "Temp/Mram_RAM65" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM65_pins<66> = BEL "Temp/Mram_RAM65" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM7_pins<65> = BEL "Temp/Mram_RAM7" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM7_pins<64> = BEL "Temp/Mram_RAM7" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM7_pins<67> = BEL "Temp/Mram_RAM7" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM7_pins<66> = BEL "Temp/Mram_RAM7" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM71_pins<65> = BEL "Temp/Mram_RAM71" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM71_pins<64> = BEL "Temp/Mram_RAM71" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM71_pins<67> = BEL "Temp/Mram_RAM71" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM71_pins<66> = BEL "Temp/Mram_RAM71" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM8_pins<65> = BEL "Temp/Mram_RAM8" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM8_pins<64> = BEL "Temp/Mram_RAM8" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM8_pins<67> = BEL "Temp/Mram_RAM8" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM8_pins<66> = BEL "Temp/Mram_RAM8" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM81_pins<65> = BEL "Temp/Mram_RAM81" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM81_pins<64> = BEL "Temp/Mram_RAM81" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM81_pins<67> = BEL "Temp/Mram_RAM81" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM81_pins<66> = BEL "Temp/Mram_RAM81" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM9_pins<65> = BEL "Temp/Mram_RAM9" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM9_pins<64> = BEL "Temp/Mram_RAM9" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM9_pins<67> = BEL "Temp/Mram_RAM9" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM9_pins<66> = BEL "Temp/Mram_RAM9" PINNAME CLKBWRCLKL;
PIN Temp/Mram_RAM91_pins<65> = BEL "Temp/Mram_RAM91" PINNAME CLKARDCLKU;
PIN Temp/Mram_RAM91_pins<64> = BEL "Temp/Mram_RAM91" PINNAME CLKARDCLKL;
PIN Temp/Mram_RAM91_pins<67> = BEL "Temp/Mram_RAM91" PINNAME CLKBWRCLKU;
PIN Temp/Mram_RAM91_pins<66> = BEL "Temp/Mram_RAM91" PINNAME CLKBWRCLKL;
PIN VGAzing/VGA/GA/Mram_screen1_pins<65> = BEL "VGAzing/VGA/GA/Mram_screen1"
        PINNAME CLKARDCLKU;
PIN VGAzing/VGA/GA/Mram_screen1_pins<64> = BEL "VGAzing/VGA/GA/Mram_screen1"
        PINNAME CLKARDCLKL;
PIN VGAzing/VGA/GA/Mram_screen1_pins<67> = BEL "VGAzing/VGA/GA/Mram_screen1"
        PINNAME CLKBWRCLKU;
PIN VGAzing/VGA/GA/Mram_screen1_pins<66> = BEL "VGAzing/VGA/GA/Mram_screen1"
        PINNAME CLKBWRCLKL;
PIN VGAzing/VGA/GA/Mram_screen11_pins<65> = BEL "VGAzing/VGA/GA/Mram_screen11"
        PINNAME CLKARDCLKU;
PIN VGAzing/VGA/GA/Mram_screen11_pins<64> = BEL "VGAzing/VGA/GA/Mram_screen11"
        PINNAME CLKARDCLKL;
PIN VGAzing/VGA/GA/Mram_screen11_pins<67> = BEL "VGAzing/VGA/GA/Mram_screen11"
        PINNAME CLKBWRCLKU;
PIN VGAzing/VGA/GA/Mram_screen11_pins<66> = BEL "VGAzing/VGA/GA/Mram_screen11"
        PINNAME CLKBWRCLKL;
PIN VGAzing/VGA/GA/Mram_screen2_pins<65> = BEL "VGAzing/VGA/GA/Mram_screen2"
        PINNAME CLKARDCLKU;
PIN VGAzing/VGA/GA/Mram_screen2_pins<64> = BEL "VGAzing/VGA/GA/Mram_screen2"
        PINNAME CLKARDCLKL;
PIN VGAzing/VGA/GA/Mram_screen2_pins<67> = BEL "VGAzing/VGA/GA/Mram_screen2"
        PINNAME CLKBWRCLKU;
PIN VGAzing/VGA/GA/Mram_screen2_pins<66> = BEL "VGAzing/VGA/GA/Mram_screen2"
        PINNAME CLKBWRCLKL;
PIN VGAzing/VGA/GA/Mram_screen21_pins<65> = BEL "VGAzing/VGA/GA/Mram_screen21"
        PINNAME CLKARDCLKU;
PIN VGAzing/VGA/GA/Mram_screen21_pins<64> = BEL "VGAzing/VGA/GA/Mram_screen21"
        PINNAME CLKARDCLKL;
PIN VGAzing/VGA/GA/Mram_screen21_pins<67> = BEL "VGAzing/VGA/GA/Mram_screen21"
        PINNAME CLKBWRCLKU;
PIN VGAzing/VGA/GA/Mram_screen21_pins<66> = BEL "VGAzing/VGA/GA/Mram_screen21"
        PINNAME CLKBWRCLKL;
PIN VGAzing/VGA/GA/Mram_screen3_pins<63> = BEL "VGAzing/VGA/GA/Mram_screen3"
        PINNAME CLKARDCLKU;
PIN VGAzing/VGA/GA/Mram_screen3_pins<62> = BEL "VGAzing/VGA/GA/Mram_screen3"
        PINNAME CLKARDCLKL;
PIN VGAzing/VGA/GA/Mram_screen3_pins<65> = BEL "VGAzing/VGA/GA/Mram_screen3"
        PINNAME CLKBWRCLKU;
PIN VGAzing/VGA/GA/Mram_screen3_pins<64> = BEL "VGAzing/VGA/GA/Mram_screen3"
        PINNAME CLKBWRCLKL;
TIMEGRP Stereo_clock_stereo_TOP_Gen_clkout1 = BEL "MachineD/vol_0" BEL
        "MachineD/vol_1" BEL "MachineD/vol_2" BEL "MachineD/state_FSM_FFd3"
        BEL "MachineD/state_FSM_FFd2" BEL "MachineD/state_FSM_FFd1" BEL
        "Stereo/clock_stereo_TOP/Gen/clkout2_buf" BEL "Assembled/one_0" BEL
        "Assembled/data_ok" BEL "Assembled/stock_data_0" BEL
        "Assembled/stock_data_1" BEL "Assembled/stock_data_2" BEL
        "Assembled/stock_data_3" BEL "Assembled/stock_data_4" BEL
        "Assembled/stock_data_5" BEL "Assembled/stock_data_6" BEL
        "Assembled/stock_data_7" BEL "Assembled/stock_data_8" BEL
        "Assembled/stock_data_9" BEL "Assembled/stock_data_10" BEL
        "Assembled/stock_data_11" BEL "Assembled/stock_data_12" BEL
        "Assembled/stock_data_13" BEL "Assembled/stock_data_14" BEL
        "Assembled/stock_data_15" BEL "Assembled/data_out_0" BEL
        "Assembled/data_out_1" BEL "Assembled/data_out_2" BEL
        "Assembled/data_out_3" BEL "Assembled/data_out_4" BEL
        "Assembled/data_out_5" BEL "Assembled/data_out_6" BEL
        "Assembled/data_out_7" BEL "Assembled/data_out_8" BEL
        "Assembled/data_out_9" BEL "Assembled/data_out_10" BEL
        "Assembled/data_out_11" BEL "Assembled/data_out_12" BEL
        "Assembled/data_out_13" BEL "Assembled/data_out_14" BEL
        "Assembled/data_out_15" BEL "Temp/writing_0" BEL "Temp/writing_1" BEL
        "Temp/writing_2" BEL "Temp/writing_3" BEL "Temp/writing_4" BEL
        "Temp/writing_5" BEL "Temp/writing_6" BEL "Temp/writing_7" BEL
        "Temp/writing_8" BEL "Temp/writing_9" BEL "Temp/writing_10" BEL
        "Temp/writing_11" BEL "Temp/writing_12" BEL "Temp/writing_13" BEL
        "Temp/writing_14" BEL "Temp/writing_15" BEL "Temp/writing_16" BEL
        "Temp/writing_17" BEL "Temp/inst_LPM_FF_1" BEL "Temp/inst_LPM_FF_0"
        BEL "VGAzing/buff2/data_send_temp" BEL "VGAzing/buff2/first_front" BEL
        "VGAzing/buff2/reading_0" BEL "VGAzing/buff2/reading_1" BEL
        "VGAzing/buff2/reading_2" BEL "VGAzing/buff2/reading_3" BEL
        "VGAzing/buff2/reading_4" BEL "VGAzing/buff2/reading_5" BEL
        "VGAzing/buff2/reading_6" BEL "VGAzing/buff2/reading_7" BEL
        "VGAzing/buff2/X_data_0" BEL "VGAzing/buff2/X_data_1" BEL
        "VGAzing/buff2/X_data_2" BEL "VGAzing/buff2/X_data_3" BEL
        "VGAzing/buff2/X_data_4" BEL "VGAzing/buff2/X_data_5" BEL
        "VGAzing/buff2/X_data_6" BEL "VGAzing/buff2/X_data_7" BEL
        "VGAzing/buff2/writing_0" BEL "VGAzing/buff2/writing_1" BEL
        "VGAzing/buff2/writing_2" BEL "VGAzing/buff2/writing_3" BEL
        "VGAzing/buff2/writing_4" BEL "VGAzing/buff2/writing_5" BEL
        "VGAzing/buff2/writing_6" BEL "VGAzing/buff2/writing_7" BEL
        "VGAzing/buff/data_send_temp" BEL "VGAzing/buff/first_front" BEL
        "VGAzing/buff/reading_0" BEL "VGAzing/buff/reading_1" BEL
        "VGAzing/buff/reading_2" BEL "VGAzing/buff/reading_3" BEL
        "VGAzing/buff/reading_4" BEL "VGAzing/buff/reading_5" BEL
        "VGAzing/buff/reading_6" BEL "VGAzing/buff/reading_7" BEL
        "VGAzing/buff/X_data_0" BEL "VGAzing/buff/X_data_1" BEL
        "VGAzing/buff/X_data_2" BEL "VGAzing/buff/X_data_3" BEL
        "VGAzing/buff/X_data_4" BEL "VGAzing/buff/X_data_5" BEL
        "VGAzing/buff/X_data_6" BEL "VGAzing/buff/X_data_7" BEL
        "VGAzing/buff/writing_0" BEL "VGAzing/buff/writing_1" BEL
        "VGAzing/buff/writing_2" BEL "VGAzing/buff/writing_3" BEL
        "VGAzing/buff/writing_4" BEL "VGAzing/buff/writing_5" BEL
        "VGAzing/buff/writing_6" BEL "VGAzing/buff/writing_7" BEL
        "VGAzing/VGA/W1/data_write" BEL "VGAzing/VGA/W1/data_in_0" BEL
        "VGAzing/VGA/W1/data_in_1" BEL "VGAzing/VGA/GA/VGA_red_0" BEL
        "VGAzing/VGA/GA/VGA_vs" BEL "VGAzing/VGA/GA/TOP_display" BEL
        "VGAzing/VGA/GA/VGA_hs" BEL "VGAzing/VGA/GA/VGA_green_0" BEL
        "VGAzing/VGA/GA/VGA_blue_0" BEL "VGAzing/VGA/GA/TOP_line" BEL
        "VGAzing/VGA/GA/h_counter_0" BEL "VGAzing/VGA/GA/h_counter_1" BEL
        "VGAzing/VGA/GA/h_counter_2" BEL "VGAzing/VGA/GA/h_counter_3" BEL
        "VGAzing/VGA/GA/h_counter_4" BEL "VGAzing/VGA/GA/h_counter_5" BEL
        "VGAzing/VGA/GA/h_counter_6" BEL "VGAzing/VGA/GA/h_counter_7" BEL
        "VGAzing/VGA/GA/h_counter_8" BEL "VGAzing/VGA/GA/h_counter_9" BEL
        "VGAzing/VGA/GA/h_counter_10" BEL "VGAzing/VGA/GA/h_counter_11" BEL
        "VGAzing/VGA/GA/v_counter_0" BEL "VGAzing/VGA/GA/v_counter_1" BEL
        "VGAzing/VGA/GA/v_counter_2" BEL "VGAzing/VGA/GA/v_counter_3" BEL
        "VGAzing/VGA/GA/v_counter_4" BEL "VGAzing/VGA/GA/v_counter_5" BEL
        "VGAzing/VGA/GA/v_counter_6" BEL "VGAzing/VGA/GA/v_counter_7" BEL
        "VGAzing/VGA/GA/v_counter_8" BEL "VGAzing/VGA/GA/v_counter_9" BEL
        "VGAzing/VGA/GA/pix_read_addr_0" BEL "VGAzing/VGA/GA/pix_read_addr_1"
        BEL "VGAzing/VGA/GA/pix_read_addr_2" BEL
        "VGAzing/VGA/GA/pix_read_addr_3" BEL "VGAzing/VGA/GA/pix_read_addr_4"
        BEL "VGAzing/VGA/GA/pix_read_addr_5" BEL
        "VGAzing/VGA/GA/pix_read_addr_6" BEL "VGAzing/VGA/GA/pix_read_addr_7"
        BEL "VGAzing/VGA/GA/pix_read_addr_8" BEL
        "VGAzing/VGA/GA/pix_read_addr_9" BEL "VGAzing/VGA/GA/pix_read_addr_10"
        BEL "VGAzing/VGA/GA/pix_read_addr_11" BEL
        "VGAzing/VGA/GA/pix_read_addr_12" BEL
        "VGAzing/VGA/GA/pix_read_addr_13" BEL
        "VGAzing/VGA/GA/pix_read_addr_14" BEL
        "VGAzing/VGA/GA/pix_read_addr_15" BEL
        "VGAzing/VGA/GA/pix_read_addr_16" BEL "VGAzing/VGA/GA/inst_LPM_FF1"
        BEL "VGAzing/VGA/SP/X_work_6" BEL "VGAzing/VGA/SP/X_work_7" BEL
        "VGAzing/VGA/SP/X_work_8" BEL "VGAzing/VGA/SP/Y_work_0" BEL
        "VGAzing/VGA/SP/Y_work_1" BEL "VGAzing/VGA/SP/Y_work_2" BEL
        "VGAzing/VGA/SP/Y_work_3" BEL "VGAzing/VGA/SP/Y_work_4" BEL
        "VGAzing/VGA/SP/Y_work_5" BEL "VGAzing/VGA/SP/Y_work_6" BEL
        "VGAzing/VGA/SP/Y_work_7" BEL "VGAzing/VGA/SP/adresse_0" BEL
        "VGAzing/VGA/SP/adresse_1" BEL "VGAzing/VGA/SP/adresse_2" BEL
        "VGAzing/VGA/SP/adresse_3" BEL "VGAzing/VGA/SP/adresse_4" BEL
        "VGAzing/VGA/SP/adresse_5" BEL "VGAzing/VGA/SP/adresse_6" BEL
        "VGAzing/VGA/SP/adresse_7" BEL "VGAzing/VGA/SP/adresse_8" BEL
        "VGAzing/VGA/SP/adresse_9" BEL "VGAzing/VGA/SP/adresse_10" BEL
        "VGAzing/VGA/SP/adresse_11" BEL "VGAzing/VGA/SP/adresse_12" BEL
        "VGAzing/VGA/SP/adresse_13" BEL "VGAzing/VGA/SP/adresse_14" BEL
        "VGAzing/VGA/SP/adresse_15" BEL "VGAzing/VGA/SP/adresse_16" BEL
        "Recep/txd_fedge" BEL "Recep/txd_delay" BEL "Recep/data_ready" BEL
        "Recep/data_0" BEL "Recep/data_1" BEL "Recep/data_2" BEL
        "Recep/data_3" BEL "Recep/data_4" BEL "Recep/data_5" BEL
        "Recep/data_6" BEL "Recep/data_7" BEL "Recep/clk_cnt_0" BEL
        "Recep/clk_cnt_1" BEL "Recep/clk_cnt_2" BEL "Recep/clk_cnt_3" BEL
        "Recep/clk_cnt_4" BEL "Recep/clk_cnt_5" BEL "Recep/clk_cnt_6" BEL
        "Recep/clk_cnt_7" BEL "Recep/bit_cnt_0" BEL "Recep/bit_cnt_1" BEL
        "Recep/bit_cnt_2" BEL "Recep/state_FSM_FFd2" BEL
        "Recep/state_FSM_FFd1" BEL "Recep/Mshreg_txd_stable" BEL
        "Recep/txd_stable" PIN "Bass/blk00000003/blk00000006_pins<117>" BEL
        "Bass/blk00000003/blk00000007" BEL "Bass/blk00000003/blk00000008" BEL
        "Bass/blk00000003/blk00000009" BEL "Bass/blk00000003/blk00000010" BEL
        "Bass/blk00000003/blk00000011" BEL "Bass/blk00000003/blk00000012" BEL
        "Bass/blk00000003/blk00000013" BEL "Bass/blk00000003/blk00000014" BEL
        "Bass/blk00000003/blk00000016" BEL "Bass/blk00000003/blk00000017" BEL
        "Bass/blk00000003/blk00000018" BEL "Bass/blk00000003/blk00000019" BEL
        "Bass/blk00000003/blk0000001a" BEL "Bass/blk00000003/blk0000001b" BEL
        "Bass/blk00000003/blk0000001c" BEL "Bass/blk00000003/blk0000001e" BEL
        "Bass/blk00000003/blk00000068/blk00000069" BEL
        "Bass/blk00000003/blk00000068/blk0000006a" BEL
        "Bass/blk00000003/blk00000068/blk0000006b" BEL
        "Bass/blk00000003/blk00000068/blk0000006c" BEL
        "Bass/blk00000003/blk00000068/blk0000006d" BEL
        "Bass/blk00000003/blk00000068/blk0000006e" BEL
        "Bass/blk00000003/blk00000068/blk0000006f" BEL
        "Bass/blk00000003/blk00000068/blk00000070" BEL
        "Bass/blk00000003/blk00000068/blk00000071" BEL
        "Bass/blk00000003/blk00000068/blk00000072" BEL
        "Bass/blk00000003/blk00000068/blk00000073" BEL
        "Bass/blk00000003/blk00000068/blk00000074" BEL
        "Bass/blk00000003/blk00000068/blk00000075" BEL
        "Bass/blk00000003/blk00000068/blk00000076" BEL
        "Bass/blk00000003/blk00000068/blk00000077" BEL
        "Bass/blk00000003/blk00000068/blk00000078" BEL
        "Bass/blk00000003/blk00000068/blk00000079" BEL
        "Bass/blk00000003/blk00000068/blk0000007a" BEL
        "Bass/blk00000003/blk00000068/blk0000007c" BEL
        "Bass/blk00000003/blk00000068/blk0000007d" BEL
        "Bass/blk00000003/blk00000068/blk0000007f" BEL
        "Bass/blk00000003/blk00000068/blk00000080" BEL
        "Bass/blk00000003/blk00000068/blk00000082" BEL
        "Bass/blk00000003/blk00000068/blk00000083" BEL
        "Bass/blk00000003/blk00000068/blk00000085" BEL
        "Bass/blk00000003/blk00000068/blk00000086" BEL
        "Bass/blk00000003/blk00000068/blk00000088" BEL
        "Bass/blk00000003/blk00000068/blk00000089" BEL
        "Bass/blk00000003/blk00000068/blk0000008b" BEL
        "Bass/blk00000003/blk00000068/blk0000008c" BEL
        "Bass/blk00000003/blk00000068/blk0000008e" BEL
        "Bass/blk00000003/blk00000068/blk0000008f" BEL
        "Bass/blk00000003/blk00000068/blk00000091" BEL
        "Bass/blk00000003/blk00000068/blk00000092" BEL
        "Bass/blk00000003/blk00000068/blk00000094" BEL
        "Bass/blk00000003/blk00000068/blk00000095" BEL
        "Bass/blk00000003/blk00000068/blk00000097" BEL
        "Bass/blk00000003/blk00000068/blk00000098" BEL
        "Bass/blk00000003/blk00000068/blk0000009a" BEL
        "Bass/blk00000003/blk00000068/blk0000009b" BEL
        "Bass/blk00000003/blk00000068/blk0000009d" BEL
        "Bass/blk00000003/blk00000068/blk0000009e" BEL
        "Bass/blk00000003/blk00000068/blk000000a0" BEL
        "Bass/blk00000003/blk00000068/blk000000a1" BEL
        "Bass/blk00000003/blk00000068/blk000000a3" BEL
        "Bass/blk00000003/blk00000068/blk000000a4" BEL
        "Bass/blk00000003/blk00000068/blk000000a6" BEL
        "Bass/blk00000003/blk00000068/blk000000a7" BEL
        "Bass/blk00000003/blk000000a9/blk000000aa" BEL
        "Bass/blk00000003/blk000000a9/blk000000ab" BEL
        "Bass/blk00000003/blk000000a9/blk000000ac" BEL
        "Bass/blk00000003/blk000000a9/blk000000ad" BEL
        "Bass/blk00000003/blk000000a9/blk000000ae" BEL
        "Bass/blk00000003/blk000000a9/blk000000af" BEL
        "Bass/blk00000003/blk000000a9/blk000000b0" BEL
        "Bass/blk00000003/blk000000a9/blk000000b1" BEL
        "Bass/blk00000003/blk000000a9/blk000000b2" BEL
        "Bass/blk00000003/blk000000a9/blk000000b3" BEL
        "Bass/blk00000003/blk000000a9/blk000000b4" BEL
        "Bass/blk00000003/blk000000a9/blk000000b5" BEL
        "Bass/blk00000003/blk000000a9/blk000000b6" BEL
        "Bass/blk00000003/blk000000a9/blk000000b7" BEL
        "Bass/blk00000003/blk000000a9/blk000000b8" BEL
        "Bass/blk00000003/blk000000a9/blk000000b9" BEL
        "Bass/blk00000003/blk000000a9/blk000000ba" BEL
        "Bass/blk00000003/blk000000a9/blk000000bb" BEL
        "Bass/blk00000003/blk000000a9/blk000000bd" BEL
        "Bass/blk00000003/blk000000a9/blk000000be" BEL
        "Bass/blk00000003/blk000000a9/blk000000c0" BEL
        "Bass/blk00000003/blk000000a9/blk000000c1" BEL
        "Bass/blk00000003/blk000000a9/blk000000c3" BEL
        "Bass/blk00000003/blk000000a9/blk000000c4" BEL
        "Bass/blk00000003/blk000000a9/blk000000c6" BEL
        "Bass/blk00000003/blk000000a9/blk000000c7" BEL
        "Bass/blk00000003/blk000000a9/blk000000c9" BEL
        "Bass/blk00000003/blk000000a9/blk000000ca" BEL
        "Bass/blk00000003/blk000000a9/blk000000cc" BEL
        "Bass/blk00000003/blk000000a9/blk000000cd" BEL
        "Bass/blk00000003/blk000000a9/blk000000cf" BEL
        "Bass/blk00000003/blk000000a9/blk000000d0" BEL
        "Bass/blk00000003/blk000000a9/blk000000d2" BEL
        "Bass/blk00000003/blk000000a9/blk000000d3" BEL
        "Bass/blk00000003/blk000000a9/blk000000d5" BEL
        "Bass/blk00000003/blk000000a9/blk000000d6" BEL
        "Bass/blk00000003/blk000000a9/blk000000d8" BEL
        "Bass/blk00000003/blk000000a9/blk000000d9" BEL
        "Bass/blk00000003/blk000000a9/blk000000db" BEL
        "Bass/blk00000003/blk000000a9/blk000000dc" BEL
        "Bass/blk00000003/blk000000a9/blk000000de" BEL
        "Bass/blk00000003/blk000000a9/blk000000df" BEL
        "Bass/blk00000003/blk000000a9/blk000000e1" BEL
        "Bass/blk00000003/blk000000a9/blk000000e2" BEL
        "Bass/blk00000003/blk000000a9/blk000000e4" BEL
        "Bass/blk00000003/blk000000a9/blk000000e5" BEL
        "Bass/blk00000003/blk000000a9/blk000000e7" BEL
        "Bass/blk00000003/blk000000a9/blk000000e8" BEL
        "Bass/blk00000003/blk000000ea/blk000000eb" BEL
        "Bass/blk00000003/blk000000ea/blk000000ec" BEL
        "Bass/blk00000003/blk000000ea/blk000000ed" BEL
        "Bass/blk00000003/blk000000ea/blk000000ee" BEL
        "Bass/blk00000003/blk000000ea/blk000000ef" BEL
        "Bass/blk00000003/blk000000ea/blk000000f0" BEL
        "Bass/blk00000003/blk000000ea/blk000000f1" BEL
        "Bass/blk00000003/blk000000ea/blk000000f2" BEL
        "Bass/blk00000003/blk000000ea/blk000000f3" BEL
        "Bass/blk00000003/blk000000ea/blk000000f4" BEL
        "Bass/blk00000003/blk000000ea/blk000000f5" BEL
        "Bass/blk00000003/blk000000ea/blk000000f6" BEL
        "Bass/blk00000003/blk000000ea/blk000000f7" BEL
        "Bass/blk00000003/blk000000ea/blk000000f8" BEL
        "Bass/blk00000003/blk000000ea/blk000000f9" BEL
        "Bass/blk00000003/blk000000ea/blk000000fa" BEL
        "Bass/blk00000003/blk0000010b" BEL "Bass/blk00000003/blk0000010c" BEL
        "Bass/blk00000003/blk0000010d" BEL "Bass/blk00000003/blk0000010e" BEL
        "Bass/blk00000003/blk0000010f" BEL "Bass/blk00000003/blk00000110" BEL
        "Bass/blk00000003/blk00000111" BEL "Bass/blk00000003/blk00000112" BEL
        "Bass/blk00000003/blk00000113" BEL "Bass/blk00000003/blk00000114" BEL
        "Bass/blk00000003/blk00000115" BEL "Bass/blk00000003/blk00000116" BEL
        "Bass/blk00000003/blk00000117" BEL "Bass/blk00000003/blk00000118" BEL
        "Bass/blk00000003/blk00000119" BEL "Bass/blk00000003/blk0000011a" BEL
        "Bass/blk00000003/blk0000011b" BEL "Bass/blk00000003/blk0000011c" BEL
        "Bass/blk00000003/blk0000011d" BEL "Bass/blk00000003/blk0000011e" BEL
        "Bass/blk00000003/blk0000011f" BEL "Bass/blk00000003/blk00000120" BEL
        "Bass/blk00000003/blk00000121" BEL "Bass/blk00000003/blk00000122" BEL
        "Bass/blk00000003/blk00000123" BEL "Bass/blk00000003/blk00000124" BEL
        "Bass/blk00000003/blk00000125" BEL "Bass/blk00000003/blk00000126" BEL
        "Bass/blk00000003/blk00000127" BEL "Bass/blk00000003/blk00000128" BEL
        "Bass/blk00000003/blk00000162" BEL "Bass/blk00000003/blk00000163" BEL
        "Bass/blk00000003/blk00000164" BEL "Bass/blk00000003/blk00000165" BEL
        "Bass/blk00000003/blk00000166" BEL "Bass/blk00000003/blk00000167" BEL
        "Bass/blk00000003/blk00000168" BEL "Bass/blk00000003/blk00000169" BEL
        "Bass/blk00000003/blk0000016a" BEL "Bass/blk00000003/blk0000016b" BEL
        "Bass/blk00000003/blk0000016c" BEL "Bass/blk00000003/blk0000016d" BEL
        "Bass/blk00000003/blk0000016e" BEL "Bass/blk00000003/blk0000016f" BEL
        "Bass/blk00000003/blk00000170" BEL "Bass/blk00000003/blk00000171" BEL
        "Bass/blk00000003/blk00000172" BEL "Bass/blk00000003/blk00000173" BEL
        "Bass/blk00000003/blk00000174" BEL "Bass/blk00000003/blk00000175" BEL
        "Bass/blk00000003/blk00000176" BEL "Bass/blk00000003/blk00000177" BEL
        "Bass/blk00000003/blk00000178" BEL "Bass/blk00000003/blk00000179" BEL
        "Bass/blk00000003/blk0000017a" BEL "Bass/blk00000003/blk0000017b" BEL
        "Bass/blk00000003/blk0000017c" BEL "Bass/blk00000003/blk0000017d" BEL
        "Bass/blk00000003/blk0000017e" BEL "Bass/blk00000003/blk0000017f" BEL
        "Bass/blk00000003/blk00000180" BEL "Bass/blk00000003/blk00000181" BEL
        "Bass/blk00000003/blk00000182" BEL "Bass/blk00000003/blk00000183" BEL
        "Bass/blk00000003/blk00000184" BEL "Bass/blk00000003/blk00000185" BEL
        "Bass/blk00000003/blk00000195" BEL "Bass/blk00000003/blk00000196" BEL
        "Bass/blk00000003/blk00000197" BEL "Bass/blk00000003/blk00000198" BEL
        "Bass/blk00000003/blk00000199" BEL "Bass/blk00000003/blk0000019a" BEL
        "Bass/blk00000003/blk0000019b" BEL "Bass/blk00000003/blk0000019c" BEL
        "Bass/blk00000003/blk0000019d" BEL "Bass/blk00000003/blk0000019e" BEL
        "Bass/blk00000003/blk0000019f" BEL "Bass/blk00000003/blk000001a0" BEL
        "Bass/blk00000003/blk000001a1" BEL "Bass/blk00000003/blk000001a2" BEL
        "Bass/blk00000003/blk000001a3" BEL "Bass/blk00000003/blk000001a4" BEL
        "Bass/blk00000003/blk000001a5" BEL "Bass/blk00000003/blk000001a6" BEL
        "Bass/blk00000003/blk000001a7" BEL "Bass/blk00000003/blk000001a8" BEL
        "Bass/blk00000003/blk000001a9" BEL "Bass/blk00000003/blk000001aa" BEL
        "Bass/blk00000003/blk000001ab" BEL "Bass/blk00000003/blk000001ac" BEL
        "Bass/blk00000003/blk000001ad" BEL "Bass/blk00000003/blk000001ae" BEL
        "Bass/blk00000003/blk000001af" BEL "Bass/blk00000003/blk000001b0" BEL
        "Bass/blk00000003/blk000001b1" BEL "Bass/blk00000003/blk000001b2" BEL
        "Bass/blk00000003/blk000001b3" BEL "Bass/blk00000003/blk000001b4" BEL
        "Bass/blk00000003/blk000001b5" BEL "Bass/blk00000003/blk000001b6" BEL
        "Bass/blk00000003/blk000001b7" BEL "Bass/blk00000003/blk000001b8" BEL
        "Bass/blk00000003/blk000001b9" BEL "Bass/blk00000003/blk000001ba" BEL
        "Bass/blk00000003/blk000001bb" BEL "Bass/blk00000003/blk000001bc" BEL
        "Bass/blk00000003/blk000001bd" PIN
        "Treble/blk00000003/blk00000006_pins<117>" BEL
        "Treble/blk00000003/blk00000007" BEL "Treble/blk00000003/blk00000008"
        BEL "Treble/blk00000003/blk00000009" BEL
        "Treble/blk00000003/blk00000010" BEL "Treble/blk00000003/blk00000011"
        BEL "Treble/blk00000003/blk00000012" BEL
        "Treble/blk00000003/blk00000013" BEL "Treble/blk00000003/blk00000014"
        BEL "Treble/blk00000003/blk00000015" BEL
        "Treble/blk00000003/blk00000016" BEL "Treble/blk00000003/blk00000017"
        BEL "Treble/blk00000003/blk00000018" BEL
        "Treble/blk00000003/blk00000019" BEL "Treble/blk00000003/blk0000001a"
        BEL "Treble/blk00000003/blk0000001b" BEL
        "Treble/blk00000003/blk0000001c" BEL "Treble/blk00000003/blk0000001d"
        BEL "Treble/blk00000003/blk0000001f" BEL
        "Treble/blk00000003/blk00000078" BEL "Treble/blk00000003/blk00000079"
        BEL "Treble/blk00000003/blk0000007a" BEL
        "Treble/blk00000003/blk0000007b" BEL "Treble/blk00000003/blk0000007c"
        BEL "Treble/blk00000003/blk0000007d" BEL
        "Treble/blk00000003/blk0000007e" BEL "Treble/blk00000003/blk0000007f"
        BEL "Treble/blk00000003/blk00000080" BEL
        "Treble/blk00000003/blk00000081" BEL "Treble/blk00000003/blk00000082"
        BEL "Treble/blk00000003/blk00000083" BEL
        "Treble/blk00000003/blk00000084" BEL "Treble/blk00000003/blk00000085"
        BEL "Treble/blk00000003/blk00000086" BEL
        "Treble/blk00000003/blk00000087" BEL "Treble/blk00000003/blk00000088"
        BEL "Treble/blk00000003/blk00000089" BEL
        "Treble/blk00000003/blk0000008a" BEL "Treble/blk00000003/blk0000008b"
        BEL "Treble/blk00000003/blk0000008c" BEL
        "Treble/blk00000003/blk0000008d" BEL "Treble/blk00000003/blk0000008e"
        BEL "Treble/blk00000003/blk0000008f" BEL
        "Treble/blk00000003/blk00000090" BEL "Treble/blk00000003/blk00000091"
        BEL "Treble/blk00000003/blk00000092" BEL
        "Treble/blk00000003/blk00000093" BEL "Treble/blk00000003/blk00000094"
        BEL "Treble/blk00000003/blk00000095" BEL
        "Treble/blk00000003/blk000000cc" BEL "Treble/blk00000003/blk000000cd"
        BEL "Treble/blk00000003/blk000000ce" BEL
        "Treble/blk00000003/blk000000cf" BEL "Treble/blk00000003/blk000000d0"
        BEL "Treble/blk00000003/blk000000d1" BEL
        "Treble/blk00000003/blk000000d2" BEL "Treble/blk00000003/blk000000d3"
        BEL "Treble/blk00000003/blk000000d4" BEL
        "Treble/blk00000003/blk000000d5" BEL "Treble/blk00000003/blk000000d6"
        BEL "Treble/blk00000003/blk000000d7" BEL
        "Treble/blk00000003/blk000000d8" BEL "Treble/blk00000003/blk000000d9"
        BEL "Treble/blk00000003/blk000000da" BEL
        "Treble/blk00000003/blk000000db" BEL "Treble/blk00000003/blk000000dc"
        BEL "Treble/blk00000003/blk000000dd" BEL
        "Treble/blk00000003/blk000000de" BEL "Treble/blk00000003/blk000000df"
        BEL "Treble/blk00000003/blk000000e0" BEL
        "Treble/blk00000003/blk000000e1" BEL "Treble/blk00000003/blk000000e2"
        BEL "Treble/blk00000003/blk000000e3" BEL
        "Treble/blk00000003/blk000000e4" BEL "Treble/blk00000003/blk000000e5"
        BEL "Treble/blk00000003/blk000000e6" BEL
        "Treble/blk00000003/blk000000e7" BEL "Treble/blk00000003/blk000000e8"
        BEL "Treble/blk00000003/blk000000e9" BEL
        "Treble/blk00000003/blk000000ea" BEL "Treble/blk00000003/blk000000eb"
        BEL "Treble/blk00000003/blk000000ec" BEL
        "Treble/blk00000003/blk000000ed" BEL "Treble/blk00000003/blk000000ee"
        BEL "Treble/blk00000003/blk000000ef" BEL
        "Treble/blk00000003/blk000000f0" BEL "Treble/blk00000003/blk000000f1"
        BEL "Treble/blk00000003/blk000000f2" BEL
        "Treble/blk00000003/blk000000f3" BEL "Treble/blk00000003/blk00000109"
        BEL "Treble/blk00000003/blk0000010a" BEL
        "Treble/blk00000003/blk0000010b" BEL "Treble/blk00000003/blk0000010c"
        BEL "Treble/blk00000003/blk0000010d" BEL
        "Treble/blk00000003/blk0000010e" BEL "Treble/blk00000003/blk0000010f"
        BEL "Treble/blk00000003/blk00000110" BEL
        "Treble/blk00000003/blk00000111" BEL "Treble/blk00000003/blk00000112"
        BEL "Treble/blk00000003/blk00000113" BEL
        "Treble/blk00000003/blk00000114" BEL "Treble/blk00000003/blk00000115"
        BEL "Treble/blk00000003/blk00000116" BEL
        "Treble/blk00000003/blk00000117" BEL "Treble/blk00000003/blk00000118"
        BEL "Treble/blk00000003/blk00000119" BEL
        "Treble/blk00000003/blk0000011a" BEL "Treble/blk00000003/blk0000011b"
        BEL "Treble/blk00000003/blk0000011c" BEL
        "Treble/blk00000003/blk0000011d" BEL "Treble/blk00000003/blk0000011e"
        BEL "Treble/blk00000003/blk0000011f" BEL
        "Treble/blk00000003/blk00000120" BEL "Treble/blk00000003/blk00000121"
        BEL "Treble/blk00000003/blk00000122" BEL
        "Treble/blk00000003/blk00000123" BEL "Treble/blk00000003/blk00000124"
        BEL "Treble/blk00000003/blk00000125" BEL
        "Treble/blk00000003/blk00000126" BEL "Treble/blk00000003/blk00000127"
        BEL "Treble/blk00000003/blk00000128" BEL
        "Treble/blk00000003/blk00000129" BEL "Treble/blk00000003/blk0000012a"
        BEL "Treble/blk00000003/blk0000012b" BEL
        "Treble/blk00000003/blk0000012c" BEL "Treble/blk00000003/blk0000012d"
        BEL "Treble/blk00000003/blk0000012e" BEL
        "Treble/blk00000003/blk0000012f" BEL "Treble/blk00000003/blk00000130"
        BEL "Treble/blk00000003/blk00000131" BEL
        "Treble/blk00000003/blk00000132" BEL "Treble/blk00000003/blk00000133"
        PIN "VGAzing/buff/Mram_RAM_pins<32>" PIN
        "VGAzing/buff2/Mram_RAM_pins<32>" PIN
        "Treble/blk00000003/blk00000070/blk00000073_pins<32>" PIN
        "Treble/blk00000003/blk00000070/blk00000073_pins<33>" PIN
        "Treble/blk00000003/blk00000074/blk00000076_pins<32>" PIN
        "Temp/Mram_RAM1_pins<65>" PIN "Temp/Mram_RAM1_pins<64>" PIN
        "Temp/Mram_RAM1_pins<67>" PIN "Temp/Mram_RAM1_pins<66>" PIN
        "Temp/Mram_RAM10_pins<65>" PIN "Temp/Mram_RAM10_pins<64>" PIN
        "Temp/Mram_RAM10_pins<67>" PIN "Temp/Mram_RAM10_pins<66>" PIN
        "Temp/Mram_RAM101_pins<65>" PIN "Temp/Mram_RAM101_pins<64>" PIN
        "Temp/Mram_RAM101_pins<67>" PIN "Temp/Mram_RAM101_pins<66>" PIN
        "Temp/Mram_RAM11_pins<65>" PIN "Temp/Mram_RAM11_pins<64>" PIN
        "Temp/Mram_RAM11_pins<67>" PIN "Temp/Mram_RAM11_pins<66>" PIN
        "Temp/Mram_RAM110_pins<65>" PIN "Temp/Mram_RAM110_pins<64>" PIN
        "Temp/Mram_RAM110_pins<67>" PIN "Temp/Mram_RAM110_pins<66>" PIN
        "Temp/Mram_RAM111_pins<65>" PIN "Temp/Mram_RAM111_pins<64>" PIN
        "Temp/Mram_RAM111_pins<67>" PIN "Temp/Mram_RAM111_pins<66>" PIN
        "Temp/Mram_RAM12_pins<65>" PIN "Temp/Mram_RAM12_pins<64>" PIN
        "Temp/Mram_RAM12_pins<67>" PIN "Temp/Mram_RAM12_pins<66>" PIN
        "Temp/Mram_RAM121_pins<65>" PIN "Temp/Mram_RAM121_pins<64>" PIN
        "Temp/Mram_RAM121_pins<67>" PIN "Temp/Mram_RAM121_pins<66>" PIN
        "Temp/Mram_RAM13_pins<65>" PIN "Temp/Mram_RAM13_pins<64>" PIN
        "Temp/Mram_RAM13_pins<67>" PIN "Temp/Mram_RAM13_pins<66>" PIN
        "Temp/Mram_RAM131_pins<65>" PIN "Temp/Mram_RAM131_pins<64>" PIN
        "Temp/Mram_RAM131_pins<67>" PIN "Temp/Mram_RAM131_pins<66>" PIN
        "Temp/Mram_RAM14_pins<65>" PIN "Temp/Mram_RAM14_pins<64>" PIN
        "Temp/Mram_RAM14_pins<67>" PIN "Temp/Mram_RAM14_pins<66>" PIN
        "Temp/Mram_RAM141_pins<65>" PIN "Temp/Mram_RAM141_pins<64>" PIN
        "Temp/Mram_RAM141_pins<67>" PIN "Temp/Mram_RAM141_pins<66>" PIN
        "Temp/Mram_RAM15_pins<65>" PIN "Temp/Mram_RAM15_pins<64>" PIN
        "Temp/Mram_RAM15_pins<67>" PIN "Temp/Mram_RAM15_pins<66>" PIN
        "Temp/Mram_RAM151_pins<65>" PIN "Temp/Mram_RAM151_pins<64>" PIN
        "Temp/Mram_RAM151_pins<67>" PIN "Temp/Mram_RAM151_pins<66>" PIN
        "Temp/Mram_RAM16_pins<65>" PIN "Temp/Mram_RAM16_pins<64>" PIN
        "Temp/Mram_RAM16_pins<67>" PIN "Temp/Mram_RAM16_pins<66>" PIN
        "Temp/Mram_RAM161_pins<65>" PIN "Temp/Mram_RAM161_pins<64>" PIN
        "Temp/Mram_RAM161_pins<67>" PIN "Temp/Mram_RAM161_pins<66>" PIN
        "Temp/Mram_RAM17_pins<65>" PIN "Temp/Mram_RAM17_pins<64>" PIN
        "Temp/Mram_RAM17_pins<67>" PIN "Temp/Mram_RAM17_pins<66>" PIN
        "Temp/Mram_RAM171_pins<65>" PIN "Temp/Mram_RAM171_pins<64>" PIN
        "Temp/Mram_RAM171_pins<67>" PIN "Temp/Mram_RAM171_pins<66>" PIN
        "Temp/Mram_RAM18_pins<65>" PIN "Temp/Mram_RAM18_pins<64>" PIN
        "Temp/Mram_RAM18_pins<67>" PIN "Temp/Mram_RAM18_pins<66>" PIN
        "Temp/Mram_RAM181_pins<65>" PIN "Temp/Mram_RAM181_pins<64>" PIN
        "Temp/Mram_RAM181_pins<67>" PIN "Temp/Mram_RAM181_pins<66>" PIN
        "Temp/Mram_RAM19_pins<65>" PIN "Temp/Mram_RAM19_pins<64>" PIN
        "Temp/Mram_RAM19_pins<67>" PIN "Temp/Mram_RAM19_pins<66>" PIN
        "Temp/Mram_RAM191_pins<65>" PIN "Temp/Mram_RAM191_pins<64>" PIN
        "Temp/Mram_RAM191_pins<67>" PIN "Temp/Mram_RAM191_pins<66>" PIN
        "Temp/Mram_RAM2_pins<65>" PIN "Temp/Mram_RAM2_pins<64>" PIN
        "Temp/Mram_RAM2_pins<67>" PIN "Temp/Mram_RAM2_pins<66>" PIN
        "Temp/Mram_RAM20_pins<65>" PIN "Temp/Mram_RAM20_pins<64>" PIN
        "Temp/Mram_RAM20_pins<67>" PIN "Temp/Mram_RAM20_pins<66>" PIN
        "Temp/Mram_RAM201_pins<65>" PIN "Temp/Mram_RAM201_pins<64>" PIN
        "Temp/Mram_RAM201_pins<67>" PIN "Temp/Mram_RAM201_pins<66>" PIN
        "Temp/Mram_RAM21_pins<65>" PIN "Temp/Mram_RAM21_pins<64>" PIN
        "Temp/Mram_RAM21_pins<67>" PIN "Temp/Mram_RAM21_pins<66>" PIN
        "Temp/Mram_RAM210_pins<65>" PIN "Temp/Mram_RAM210_pins<64>" PIN
        "Temp/Mram_RAM210_pins<67>" PIN "Temp/Mram_RAM210_pins<66>" PIN
        "Temp/Mram_RAM211_pins<65>" PIN "Temp/Mram_RAM211_pins<64>" PIN
        "Temp/Mram_RAM211_pins<67>" PIN "Temp/Mram_RAM211_pins<66>" PIN
        "Temp/Mram_RAM22_pins<65>" PIN "Temp/Mram_RAM22_pins<64>" PIN
        "Temp/Mram_RAM22_pins<67>" PIN "Temp/Mram_RAM22_pins<66>" PIN
        "Temp/Mram_RAM221_pins<65>" PIN "Temp/Mram_RAM221_pins<64>" PIN
        "Temp/Mram_RAM221_pins<67>" PIN "Temp/Mram_RAM221_pins<66>" PIN
        "Temp/Mram_RAM23_pins<65>" PIN "Temp/Mram_RAM23_pins<64>" PIN
        "Temp/Mram_RAM23_pins<67>" PIN "Temp/Mram_RAM23_pins<66>" PIN
        "Temp/Mram_RAM231_pins<65>" PIN "Temp/Mram_RAM231_pins<64>" PIN
        "Temp/Mram_RAM231_pins<67>" PIN "Temp/Mram_RAM231_pins<66>" PIN
        "Temp/Mram_RAM24_pins<65>" PIN "Temp/Mram_RAM24_pins<64>" PIN
        "Temp/Mram_RAM24_pins<67>" PIN "Temp/Mram_RAM24_pins<66>" PIN
        "Temp/Mram_RAM241_pins<65>" PIN "Temp/Mram_RAM241_pins<64>" PIN
        "Temp/Mram_RAM241_pins<67>" PIN "Temp/Mram_RAM241_pins<66>" PIN
        "Temp/Mram_RAM25_pins<65>" PIN "Temp/Mram_RAM25_pins<64>" PIN
        "Temp/Mram_RAM25_pins<67>" PIN "Temp/Mram_RAM25_pins<66>" PIN
        "Temp/Mram_RAM251_pins<65>" PIN "Temp/Mram_RAM251_pins<64>" PIN
        "Temp/Mram_RAM251_pins<67>" PIN "Temp/Mram_RAM251_pins<66>" PIN
        "Temp/Mram_RAM26_pins<65>" PIN "Temp/Mram_RAM26_pins<64>" PIN
        "Temp/Mram_RAM26_pins<67>" PIN "Temp/Mram_RAM26_pins<66>" PIN
        "Temp/Mram_RAM261_pins<65>" PIN "Temp/Mram_RAM261_pins<64>" PIN
        "Temp/Mram_RAM261_pins<67>" PIN "Temp/Mram_RAM261_pins<66>" PIN
        "Temp/Mram_RAM27_pins<65>" PIN "Temp/Mram_RAM27_pins<64>" PIN
        "Temp/Mram_RAM27_pins<67>" PIN "Temp/Mram_RAM27_pins<66>" PIN
        "Temp/Mram_RAM271_pins<65>" PIN "Temp/Mram_RAM271_pins<64>" PIN
        "Temp/Mram_RAM271_pins<67>" PIN "Temp/Mram_RAM271_pins<66>" PIN
        "Temp/Mram_RAM28_pins<65>" PIN "Temp/Mram_RAM28_pins<64>" PIN
        "Temp/Mram_RAM28_pins<67>" PIN "Temp/Mram_RAM28_pins<66>" PIN
        "Temp/Mram_RAM281_pins<65>" PIN "Temp/Mram_RAM281_pins<64>" PIN
        "Temp/Mram_RAM281_pins<67>" PIN "Temp/Mram_RAM281_pins<66>" PIN
        "Temp/Mram_RAM29_pins<65>" PIN "Temp/Mram_RAM29_pins<64>" PIN
        "Temp/Mram_RAM29_pins<67>" PIN "Temp/Mram_RAM29_pins<66>" PIN
        "Temp/Mram_RAM291_pins<65>" PIN "Temp/Mram_RAM291_pins<64>" PIN
        "Temp/Mram_RAM291_pins<67>" PIN "Temp/Mram_RAM291_pins<66>" PIN
        "Temp/Mram_RAM3_pins<65>" PIN "Temp/Mram_RAM3_pins<64>" PIN
        "Temp/Mram_RAM3_pins<67>" PIN "Temp/Mram_RAM3_pins<66>" PIN
        "Temp/Mram_RAM30_pins<65>" PIN "Temp/Mram_RAM30_pins<64>" PIN
        "Temp/Mram_RAM30_pins<67>" PIN "Temp/Mram_RAM30_pins<66>" PIN
        "Temp/Mram_RAM301_pins<65>" PIN "Temp/Mram_RAM301_pins<64>" PIN
        "Temp/Mram_RAM301_pins<67>" PIN "Temp/Mram_RAM301_pins<66>" PIN
        "Temp/Mram_RAM31_pins<65>" PIN "Temp/Mram_RAM31_pins<64>" PIN
        "Temp/Mram_RAM31_pins<67>" PIN "Temp/Mram_RAM31_pins<66>" PIN
        "Temp/Mram_RAM310_pins<65>" PIN "Temp/Mram_RAM310_pins<64>" PIN
        "Temp/Mram_RAM310_pins<67>" PIN "Temp/Mram_RAM310_pins<66>" PIN
        "Temp/Mram_RAM311_pins<65>" PIN "Temp/Mram_RAM311_pins<64>" PIN
        "Temp/Mram_RAM311_pins<67>" PIN "Temp/Mram_RAM311_pins<66>" PIN
        "Temp/Mram_RAM32_pins<65>" PIN "Temp/Mram_RAM32_pins<64>" PIN
        "Temp/Mram_RAM32_pins<67>" PIN "Temp/Mram_RAM32_pins<66>" PIN
        "Temp/Mram_RAM321_pins<65>" PIN "Temp/Mram_RAM321_pins<64>" PIN
        "Temp/Mram_RAM321_pins<67>" PIN "Temp/Mram_RAM321_pins<66>" PIN
        "Temp/Mram_RAM33_pins<65>" PIN "Temp/Mram_RAM33_pins<64>" PIN
        "Temp/Mram_RAM33_pins<67>" PIN "Temp/Mram_RAM33_pins<66>" PIN
        "Temp/Mram_RAM331_pins<65>" PIN "Temp/Mram_RAM331_pins<64>" PIN
        "Temp/Mram_RAM331_pins<67>" PIN "Temp/Mram_RAM331_pins<66>" PIN
        "Temp/Mram_RAM34_pins<65>" PIN "Temp/Mram_RAM34_pins<64>" PIN
        "Temp/Mram_RAM34_pins<67>" PIN "Temp/Mram_RAM34_pins<66>" PIN
        "Temp/Mram_RAM341_pins<65>" PIN "Temp/Mram_RAM341_pins<64>" PIN
        "Temp/Mram_RAM341_pins<67>" PIN "Temp/Mram_RAM341_pins<66>" PIN
        "Temp/Mram_RAM35_pins<65>" PIN "Temp/Mram_RAM35_pins<64>" PIN
        "Temp/Mram_RAM35_pins<67>" PIN "Temp/Mram_RAM35_pins<66>" PIN
        "Temp/Mram_RAM351_pins<65>" PIN "Temp/Mram_RAM351_pins<64>" PIN
        "Temp/Mram_RAM351_pins<67>" PIN "Temp/Mram_RAM351_pins<66>" PIN
        "Temp/Mram_RAM36_pins<65>" PIN "Temp/Mram_RAM36_pins<64>" PIN
        "Temp/Mram_RAM36_pins<67>" PIN "Temp/Mram_RAM36_pins<66>" PIN
        "Temp/Mram_RAM361_pins<65>" PIN "Temp/Mram_RAM361_pins<64>" PIN
        "Temp/Mram_RAM361_pins<67>" PIN "Temp/Mram_RAM361_pins<66>" PIN
        "Temp/Mram_RAM37_pins<65>" PIN "Temp/Mram_RAM37_pins<64>" PIN
        "Temp/Mram_RAM37_pins<67>" PIN "Temp/Mram_RAM37_pins<66>" PIN
        "Temp/Mram_RAM371_pins<65>" PIN "Temp/Mram_RAM371_pins<64>" PIN
        "Temp/Mram_RAM371_pins<67>" PIN "Temp/Mram_RAM371_pins<66>" PIN
        "Temp/Mram_RAM38_pins<65>" PIN "Temp/Mram_RAM38_pins<64>" PIN
        "Temp/Mram_RAM38_pins<67>" PIN "Temp/Mram_RAM38_pins<66>" PIN
        "Temp/Mram_RAM381_pins<65>" PIN "Temp/Mram_RAM381_pins<64>" PIN
        "Temp/Mram_RAM381_pins<67>" PIN "Temp/Mram_RAM381_pins<66>" PIN
        "Temp/Mram_RAM39_pins<65>" PIN "Temp/Mram_RAM39_pins<64>" PIN
        "Temp/Mram_RAM39_pins<67>" PIN "Temp/Mram_RAM39_pins<66>" PIN
        "Temp/Mram_RAM391_pins<65>" PIN "Temp/Mram_RAM391_pins<64>" PIN
        "Temp/Mram_RAM391_pins<67>" PIN "Temp/Mram_RAM391_pins<66>" PIN
        "Temp/Mram_RAM4_pins<65>" PIN "Temp/Mram_RAM4_pins<64>" PIN
        "Temp/Mram_RAM4_pins<67>" PIN "Temp/Mram_RAM4_pins<66>" PIN
        "Temp/Mram_RAM40_pins<65>" PIN "Temp/Mram_RAM40_pins<64>" PIN
        "Temp/Mram_RAM40_pins<67>" PIN "Temp/Mram_RAM40_pins<66>" PIN
        "Temp/Mram_RAM401_pins<65>" PIN "Temp/Mram_RAM401_pins<64>" PIN
        "Temp/Mram_RAM401_pins<67>" PIN "Temp/Mram_RAM401_pins<66>" PIN
        "Temp/Mram_RAM41_pins<65>" PIN "Temp/Mram_RAM41_pins<64>" PIN
        "Temp/Mram_RAM41_pins<67>" PIN "Temp/Mram_RAM41_pins<66>" PIN
        "Temp/Mram_RAM410_pins<65>" PIN "Temp/Mram_RAM410_pins<64>" PIN
        "Temp/Mram_RAM410_pins<67>" PIN "Temp/Mram_RAM410_pins<66>" PIN
        "Temp/Mram_RAM411_pins<65>" PIN "Temp/Mram_RAM411_pins<64>" PIN
        "Temp/Mram_RAM411_pins<67>" PIN "Temp/Mram_RAM411_pins<66>" PIN
        "Temp/Mram_RAM42_pins<65>" PIN "Temp/Mram_RAM42_pins<64>" PIN
        "Temp/Mram_RAM42_pins<67>" PIN "Temp/Mram_RAM42_pins<66>" PIN
        "Temp/Mram_RAM421_pins<65>" PIN "Temp/Mram_RAM421_pins<64>" PIN
        "Temp/Mram_RAM421_pins<67>" PIN "Temp/Mram_RAM421_pins<66>" PIN
        "Temp/Mram_RAM43_pins<65>" PIN "Temp/Mram_RAM43_pins<64>" PIN
        "Temp/Mram_RAM43_pins<67>" PIN "Temp/Mram_RAM43_pins<66>" PIN
        "Temp/Mram_RAM431_pins<65>" PIN "Temp/Mram_RAM431_pins<64>" PIN
        "Temp/Mram_RAM431_pins<67>" PIN "Temp/Mram_RAM431_pins<66>" PIN
        "Temp/Mram_RAM44_pins<65>" PIN "Temp/Mram_RAM44_pins<64>" PIN
        "Temp/Mram_RAM44_pins<67>" PIN "Temp/Mram_RAM44_pins<66>" PIN
        "Temp/Mram_RAM441_pins<65>" PIN "Temp/Mram_RAM441_pins<64>" PIN
        "Temp/Mram_RAM441_pins<67>" PIN "Temp/Mram_RAM441_pins<66>" PIN
        "Temp/Mram_RAM45_pins<65>" PIN "Temp/Mram_RAM45_pins<64>" PIN
        "Temp/Mram_RAM45_pins<67>" PIN "Temp/Mram_RAM45_pins<66>" PIN
        "Temp/Mram_RAM451_pins<65>" PIN "Temp/Mram_RAM451_pins<64>" PIN
        "Temp/Mram_RAM451_pins<67>" PIN "Temp/Mram_RAM451_pins<66>" PIN
        "Temp/Mram_RAM46_pins<65>" PIN "Temp/Mram_RAM46_pins<64>" PIN
        "Temp/Mram_RAM46_pins<67>" PIN "Temp/Mram_RAM46_pins<66>" PIN
        "Temp/Mram_RAM461_pins<65>" PIN "Temp/Mram_RAM461_pins<64>" PIN
        "Temp/Mram_RAM461_pins<67>" PIN "Temp/Mram_RAM461_pins<66>" PIN
        "Temp/Mram_RAM47_pins<65>" PIN "Temp/Mram_RAM47_pins<64>" PIN
        "Temp/Mram_RAM47_pins<67>" PIN "Temp/Mram_RAM47_pins<66>" PIN
        "Temp/Mram_RAM471_pins<65>" PIN "Temp/Mram_RAM471_pins<64>" PIN
        "Temp/Mram_RAM471_pins<67>" PIN "Temp/Mram_RAM471_pins<66>" PIN
        "Temp/Mram_RAM48_pins<65>" PIN "Temp/Mram_RAM48_pins<64>" PIN
        "Temp/Mram_RAM48_pins<67>" PIN "Temp/Mram_RAM48_pins<66>" PIN
        "Temp/Mram_RAM481_pins<65>" PIN "Temp/Mram_RAM481_pins<64>" PIN
        "Temp/Mram_RAM481_pins<67>" PIN "Temp/Mram_RAM481_pins<66>" PIN
        "Temp/Mram_RAM49_pins<63>" PIN "Temp/Mram_RAM49_pins<62>" PIN
        "Temp/Mram_RAM49_pins<65>" PIN "Temp/Mram_RAM49_pins<64>" PIN
        "Temp/Mram_RAM5_pins<65>" PIN "Temp/Mram_RAM5_pins<64>" PIN
        "Temp/Mram_RAM5_pins<67>" PIN "Temp/Mram_RAM5_pins<66>" PIN
        "Temp/Mram_RAM50_pins<63>" PIN "Temp/Mram_RAM50_pins<62>" PIN
        "Temp/Mram_RAM50_pins<65>" PIN "Temp/Mram_RAM50_pins<64>" PIN
        "Temp/Mram_RAM51_pins<63>" PIN "Temp/Mram_RAM51_pins<62>" PIN
        "Temp/Mram_RAM51_pins<65>" PIN "Temp/Mram_RAM51_pins<64>" PIN
        "Temp/Mram_RAM510_pins<65>" PIN "Temp/Mram_RAM510_pins<64>" PIN
        "Temp/Mram_RAM510_pins<67>" PIN "Temp/Mram_RAM510_pins<66>" PIN
        "Temp/Mram_RAM52_pins<63>" PIN "Temp/Mram_RAM52_pins<62>" PIN
        "Temp/Mram_RAM52_pins<65>" PIN "Temp/Mram_RAM52_pins<64>" PIN
        "Temp/Mram_RAM53_pins<63>" PIN "Temp/Mram_RAM53_pins<62>" PIN
        "Temp/Mram_RAM53_pins<65>" PIN "Temp/Mram_RAM53_pins<64>" PIN
        "Temp/Mram_RAM54_pins<63>" PIN "Temp/Mram_RAM54_pins<62>" PIN
        "Temp/Mram_RAM54_pins<65>" PIN "Temp/Mram_RAM54_pins<64>" PIN
        "Temp/Mram_RAM55_pins<63>" PIN "Temp/Mram_RAM55_pins<62>" PIN
        "Temp/Mram_RAM55_pins<65>" PIN "Temp/Mram_RAM55_pins<64>" PIN
        "Temp/Mram_RAM56_pins<63>" PIN "Temp/Mram_RAM56_pins<62>" PIN
        "Temp/Mram_RAM56_pins<65>" PIN "Temp/Mram_RAM56_pins<64>" PIN
        "Temp/Mram_RAM57_pins<63>" PIN "Temp/Mram_RAM57_pins<62>" PIN
        "Temp/Mram_RAM57_pins<65>" PIN "Temp/Mram_RAM57_pins<64>" PIN
        "Temp/Mram_RAM58_pins<63>" PIN "Temp/Mram_RAM58_pins<62>" PIN
        "Temp/Mram_RAM58_pins<65>" PIN "Temp/Mram_RAM58_pins<64>" PIN
        "Temp/Mram_RAM59_pins<63>" PIN "Temp/Mram_RAM59_pins<62>" PIN
        "Temp/Mram_RAM59_pins<65>" PIN "Temp/Mram_RAM59_pins<64>" PIN
        "Temp/Mram_RAM6_pins<65>" PIN "Temp/Mram_RAM6_pins<64>" PIN
        "Temp/Mram_RAM6_pins<67>" PIN "Temp/Mram_RAM6_pins<66>" PIN
        "Temp/Mram_RAM60_pins<63>" PIN "Temp/Mram_RAM60_pins<62>" PIN
        "Temp/Mram_RAM60_pins<65>" PIN "Temp/Mram_RAM60_pins<64>" PIN
        "Temp/Mram_RAM61_pins<63>" PIN "Temp/Mram_RAM61_pins<62>" PIN
        "Temp/Mram_RAM61_pins<65>" PIN "Temp/Mram_RAM61_pins<64>" PIN
        "Temp/Mram_RAM62_pins<63>" PIN "Temp/Mram_RAM62_pins<62>" PIN
        "Temp/Mram_RAM62_pins<65>" PIN "Temp/Mram_RAM62_pins<64>" PIN
        "Temp/Mram_RAM63_pins<63>" PIN "Temp/Mram_RAM63_pins<62>" PIN
        "Temp/Mram_RAM63_pins<65>" PIN "Temp/Mram_RAM63_pins<64>" PIN
        "Temp/Mram_RAM64_pins<63>" PIN "Temp/Mram_RAM64_pins<62>" PIN
        "Temp/Mram_RAM64_pins<65>" PIN "Temp/Mram_RAM64_pins<64>" PIN
        "Temp/Mram_RAM65_pins<65>" PIN "Temp/Mram_RAM65_pins<64>" PIN
        "Temp/Mram_RAM65_pins<67>" PIN "Temp/Mram_RAM65_pins<66>" PIN
        "Temp/Mram_RAM7_pins<65>" PIN "Temp/Mram_RAM7_pins<64>" PIN
        "Temp/Mram_RAM7_pins<67>" PIN "Temp/Mram_RAM7_pins<66>" PIN
        "Temp/Mram_RAM71_pins<65>" PIN "Temp/Mram_RAM71_pins<64>" PIN
        "Temp/Mram_RAM71_pins<67>" PIN "Temp/Mram_RAM71_pins<66>" PIN
        "Temp/Mram_RAM8_pins<65>" PIN "Temp/Mram_RAM8_pins<64>" PIN
        "Temp/Mram_RAM8_pins<67>" PIN "Temp/Mram_RAM8_pins<66>" PIN
        "Temp/Mram_RAM81_pins<65>" PIN "Temp/Mram_RAM81_pins<64>" PIN
        "Temp/Mram_RAM81_pins<67>" PIN "Temp/Mram_RAM81_pins<66>" PIN
        "Temp/Mram_RAM9_pins<65>" PIN "Temp/Mram_RAM9_pins<64>" PIN
        "Temp/Mram_RAM9_pins<67>" PIN "Temp/Mram_RAM9_pins<66>" PIN
        "Temp/Mram_RAM91_pins<65>" PIN "Temp/Mram_RAM91_pins<64>" PIN
        "Temp/Mram_RAM91_pins<67>" PIN "Temp/Mram_RAM91_pins<66>" PIN
        "VGAzing/VGA/GA/Mram_screen1_pins<65>" PIN
        "VGAzing/VGA/GA/Mram_screen1_pins<64>" PIN
        "VGAzing/VGA/GA/Mram_screen1_pins<67>" PIN
        "VGAzing/VGA/GA/Mram_screen1_pins<66>" PIN
        "VGAzing/VGA/GA/Mram_screen11_pins<65>" PIN
        "VGAzing/VGA/GA/Mram_screen11_pins<64>" PIN
        "VGAzing/VGA/GA/Mram_screen11_pins<67>" PIN
        "VGAzing/VGA/GA/Mram_screen11_pins<66>" PIN
        "VGAzing/VGA/GA/Mram_screen2_pins<65>" PIN
        "VGAzing/VGA/GA/Mram_screen2_pins<64>" PIN
        "VGAzing/VGA/GA/Mram_screen2_pins<67>" PIN
        "VGAzing/VGA/GA/Mram_screen2_pins<66>" PIN
        "VGAzing/VGA/GA/Mram_screen21_pins<65>" PIN
        "VGAzing/VGA/GA/Mram_screen21_pins<64>" PIN
        "VGAzing/VGA/GA/Mram_screen21_pins<67>" PIN
        "VGAzing/VGA/GA/Mram_screen21_pins<66>" PIN
        "VGAzing/VGA/GA/Mram_screen3_pins<63>" PIN
        "VGAzing/VGA/GA/Mram_screen3_pins<62>" PIN
        "VGAzing/VGA/GA/Mram_screen3_pins<65>" PIN
        "VGAzing/VGA/GA/Mram_screen3_pins<64>";
TIMEGRP Gene_clkout0 = BEL "Gene/clkout1_buf" BEL "PWMM/CMP_0" BEL
        "PWMM/CMP_1" BEL "PWMM/CMP_2" BEL "PWMM/CMP_3" BEL "PWMM/CMP_4" BEL
        "PWMM/CMP_5" BEL "PWMM/CMP_6" BEL "PWMM/CMP_7" BEL "PWMM/CMP_8" BEL
        "PWMM/CMP_9" BEL "PWMM/CMP_10" BEL "PWMM/CMP_11" BEL "PWMM/CMP_12";
TIMEGRP Stereo_clock_stereo_TOP_Gen_clkout0 = BEL
        "Stereo/clock_stereo_TOP/Clock_manag/sck_temp" BEL
        "Stereo/clock_stereo_TOP/Clock_manag/lrck_temp" BEL
        "Stereo/clock_stereo_TOP/Clock_manag/sck_count_0" BEL
        "Stereo/clock_stereo_TOP/Clock_manag/sck_count_1" BEL
        "Stereo/clock_stereo_TOP/Clock_manag/sck_count_2" BEL
        "Stereo/clock_stereo_TOP/Clock_manag/lrck_count_3" BEL
        "Stereo/clock_stereo_TOP/Clock_manag/lrck_count_4" BEL
        "Stereo/clock_stereo_TOP/Clock_manag/lrck_count_5" BEL
        "Stereo/clock_stereo_TOP/Clock_manag/lrck_count_6" BEL
        "Stereo/clock_stereo_TOP/Clock_manag/lrck_count_7" BEL "mck" BEL
        "Stereo/clock_stereo_TOP/Gen/clkout1_buf";
PIN Gene/mmcm_adv_inst_pins<2> = BEL "Gene/mmcm_adv_inst" PINNAME CLKIN1;
PIN Stereo/clock_stereo_TOP/Gen/mmcm_adv_inst_pins<2> = BEL
        "Stereo/clock_stereo_TOP/Gen/mmcm_adv_inst" PINNAME CLKIN1;
TIMEGRP sys_clk_pin = BEL "CENTER_SYNC1/sig_out_reg" BEL
        "CENTER_SYNC1/sig_cntrs_ary_0" BEL "CENTER_SYNC1/sig_cntrs_ary_1" BEL
        "CENTER_SYNC1/sig_cntrs_ary_2" BEL "CENTER_SYNC1/sig_cntrs_ary_3" BEL
        "CENTER_SYNC1/sig_cntrs_ary_4" BEL "CENTER_SYNC1/sig_cntrs_ary_5" BEL
        "CENTER_SYNC1/sig_cntrs_ary_6" BEL "CENTER_SYNC1/sig_cntrs_ary_7" BEL
        "CENTER_SYNC1/sig_cntrs_ary_8" BEL "CENTER_SYNC1/sig_cntrs_ary_9" BEL
        "CENTER_SYNC1/sig_cntrs_ary_10" BEL "CENTER_SYNC1/sig_cntrs_ary_11"
        BEL "CENTER_SYNC1/sig_cntrs_ary_12" BEL
        "CENTER_SYNC1/sig_cntrs_ary_13" BEL "CENTER_SYNC1/sig_cntrs_ary_14"
        BEL "CENTER_SYNC1/sig_cntrs_ary_15" BEL "RIGHT_SYNC1/sig_out_reg" BEL
        "RIGHT_SYNC1/sig_cntrs_ary_0" BEL "RIGHT_SYNC1/sig_cntrs_ary_1" BEL
        "RIGHT_SYNC1/sig_cntrs_ary_2" BEL "RIGHT_SYNC1/sig_cntrs_ary_3" BEL
        "RIGHT_SYNC1/sig_cntrs_ary_4" BEL "RIGHT_SYNC1/sig_cntrs_ary_5" BEL
        "RIGHT_SYNC1/sig_cntrs_ary_6" BEL "RIGHT_SYNC1/sig_cntrs_ary_7" BEL
        "RIGHT_SYNC1/sig_cntrs_ary_8" BEL "RIGHT_SYNC1/sig_cntrs_ary_9" BEL
        "RIGHT_SYNC1/sig_cntrs_ary_10" BEL "RIGHT_SYNC1/sig_cntrs_ary_11" BEL
        "RIGHT_SYNC1/sig_cntrs_ary_12" BEL "RIGHT_SYNC1/sig_cntrs_ary_13" BEL
        "RIGHT_SYNC1/sig_cntrs_ary_14" BEL "RIGHT_SYNC1/sig_cntrs_ary_15" BEL
        "LEFT_SYNC1/sig_out_reg" BEL "LEFT_SYNC1/sig_cntrs_ary_0" BEL
        "LEFT_SYNC1/sig_cntrs_ary_1" BEL "LEFT_SYNC1/sig_cntrs_ary_2" BEL
        "LEFT_SYNC1/sig_cntrs_ary_3" BEL "LEFT_SYNC1/sig_cntrs_ary_4" BEL
        "LEFT_SYNC1/sig_cntrs_ary_5" BEL "LEFT_SYNC1/sig_cntrs_ary_6" BEL
        "LEFT_SYNC1/sig_cntrs_ary_7" BEL "LEFT_SYNC1/sig_cntrs_ary_8" BEL
        "LEFT_SYNC1/sig_cntrs_ary_9" BEL "LEFT_SYNC1/sig_cntrs_ary_10" BEL
        "LEFT_SYNC1/sig_cntrs_ary_11" BEL "LEFT_SYNC1/sig_cntrs_ary_12" BEL
        "LEFT_SYNC1/sig_cntrs_ary_13" BEL "LEFT_SYNC1/sig_cntrs_ary_14" BEL
        "LEFT_SYNC1/sig_cntrs_ary_15" BEL "DOWN_SYNC1/sig_out_reg" BEL
        "DOWN_SYNC1/sig_cntrs_ary_0" BEL "DOWN_SYNC1/sig_cntrs_ary_1" BEL
        "DOWN_SYNC1/sig_cntrs_ary_2" BEL "DOWN_SYNC1/sig_cntrs_ary_3" BEL
        "DOWN_SYNC1/sig_cntrs_ary_4" BEL "DOWN_SYNC1/sig_cntrs_ary_5" BEL
        "DOWN_SYNC1/sig_cntrs_ary_6" BEL "DOWN_SYNC1/sig_cntrs_ary_7" BEL
        "DOWN_SYNC1/sig_cntrs_ary_8" BEL "DOWN_SYNC1/sig_cntrs_ary_9" BEL
        "DOWN_SYNC1/sig_cntrs_ary_10" BEL "DOWN_SYNC1/sig_cntrs_ary_11" BEL
        "DOWN_SYNC1/sig_cntrs_ary_12" BEL "DOWN_SYNC1/sig_cntrs_ary_13" BEL
        "DOWN_SYNC1/sig_cntrs_ary_14" BEL "DOWN_SYNC1/sig_cntrs_ary_15" BEL
        "UP_SYNC1/sig_out_reg" BEL "UP_SYNC1/sig_cntrs_ary_0" BEL
        "UP_SYNC1/sig_cntrs_ary_1" BEL "UP_SYNC1/sig_cntrs_ary_2" BEL
        "UP_SYNC1/sig_cntrs_ary_3" BEL "UP_SYNC1/sig_cntrs_ary_4" BEL
        "UP_SYNC1/sig_cntrs_ary_5" BEL "UP_SYNC1/sig_cntrs_ary_6" BEL
        "UP_SYNC1/sig_cntrs_ary_7" BEL "UP_SYNC1/sig_cntrs_ary_8" BEL
        "UP_SYNC1/sig_cntrs_ary_9" BEL "UP_SYNC1/sig_cntrs_ary_10" BEL
        "UP_SYNC1/sig_cntrs_ary_11" BEL "UP_SYNC1/sig_cntrs_ary_12" BEL
        "UP_SYNC1/sig_cntrs_ary_13" BEL "UP_SYNC1/sig_cntrs_ary_14" BEL
        "UP_SYNC1/sig_cntrs_ary_15" BEL "CENTER_SYNC_IMPULSION/mem" BEL
        "CENTER_SYNC_IMPULSION/OUTPUT" BEL "RIGHT_SYNC_IMPULSION/mem" BEL
        "RIGHT_SYNC_IMPULSION/OUTPUT" BEL "LEFT_SYNC_IMPULSION/mem" BEL
        "LEFT_SYNC_IMPULSION/OUTPUT" BEL "DOWN_SYNC_IMPULSION/mem" BEL
        "DOWN_SYNC_IMPULSION/OUTPUT" BEL "UP_SYNC_IMPULSION/mem" BEL
        "UP_SYNC_IMPULSION/OUTPUT" BEL "clock_BUFGP/BUFG" PIN
        "Gene/mmcm_adv_inst_pins<2>" PIN
        "Stereo/clock_stereo_TOP/Gen/mmcm_adv_inst_pins<2>";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
TS_Stereo_clock_stereo_TOP_Gen_clkout0 = PERIOD TIMEGRP
        "Stereo_clock_stereo_TOP_Gen_clkout0" TS_sys_clk_pin * 0.225705329
        HIGH 50%;
TS_Stereo_clock_stereo_TOP_Gen_clkout1 = PERIOD TIMEGRP
        "Stereo_clock_stereo_TOP_Gen_clkout1" TS_sys_clk_pin HIGH 50%;
TS_Gene_clkout0 = PERIOD TIMEGRP "Gene_clkout0" TS_sys_clk_pin * 2 HIGH 50%;
SCHEMATIC END;

